<section class="amenities">
  <div class="container">
    <h2 class="amenities__title">Amenities</h2>
    <ul class="amenities__list">
      <li class="amenities-item">
        <img
          class="amenities-item__img"
          src="img/amenities/1.png"
          width="40"
          height="40"
          alt="img"
        />
        <p class="amenities-item__text">Wine Room</p>
      </li>
      <li class="amenities-item">
        <img
          class="amenities-item__img"
          src="img/amenities/2.png"
          width="40"
          height="40"
          alt="img"
        />
        <p class="amenities-item__text">Valet Parking</p>
      </li>
      <li class="amenities-item">
        <img
          class="amenities-item__img"
          src="img/amenities/3.png"
          width="40"
          height="40"
          alt="img"
        />
        <p class="amenities-item__text">Swimming Pool</p>
      </li>
      <li class="amenities-item">
        <img
          class="amenities-item__img"
          src="img/amenities/4.png"
          width="40"
          height="40"
          alt="img"
        />
        <p class="amenities-item__text">Spa and Wellness</p>
      </li>
      <li class="amenities-item">
        <img
          class="amenities-item__img"
          src="img/amenities/5.png"
          width="40"
          height="40"
          alt="img"
        />
        <p class="amenities-item__text">Restaurant/Bar</p>
      </li>
      <li class="amenities-item">
        <img
          class="amenities-item__img"
          src="img/amenities/6.png"
          width="40"
          height="40"
          alt="img"
        />
        <p class="amenities-item__text">Meditation Room</p>
      </li>
      <li class="amenities-item">
        <img
          class="amenities-item__img"
          src="img/amenities/7.png"
          width="40"
          height="40"
          alt="img"
        />
        <p class="amenities-item__text">Park</p>
      </li>
      <li class="amenities-item">
        <img
          class="amenities-item__img"
          src="img/amenities/8.png"
          width="40"
          height="40"
          alt="img"
        />
        <p class="amenities-item__text">Parking</p>
      </li>
      <li class="amenities-item">
        <img
          class="amenities-item__img"
          src="img/amenities/9.png"
          width="40"
          height="40"
          alt="img"
        />
        <p class="amenities-item__text">Fitness</p>
      </li>
    </ul>
  </div>
</section>
