<section class="find find--questions">
  <div class="container">
    <div
      class="find__wrapper"
      style="background-image: url('img/consultation-bg.jpg')"
    >
      <div class="find__left">
        <h2 class="find__title">Any questions about Residential Land?</h2>
        <p class="find__text">
          Contact our Golden Beach Real Estate Specialist today.
        </p>
      </div>
      <div class="find__btns">
        <button class="find__btn btn" type="button">REQUEST INFORMATION</button>
        <a class="find__btn btn find__btn--phone" href="button">
          CALL NOW <br />
          305-339-4265
        </a>
      </div>
    </div>
  </div>
</section>
