<section class="apartment apartment--commercial">
  <div class="container">
    <div class="apartment__head">
      <h1 class="apartment__title">
        355 Ocean Blvd Golden Beach, FL Residential Land
      </h1>
      <!-- <p class="apartment__price">$100,000,000</p> -->
      <div class="apartment__head-right">
        <div class="apartment-btns">
          <a class="apartment-btns__btn apartment-btns__btn--phone" href="#">
            <span class="apartment-btns__btn-inner">
              <svg
                width="34"
                height="34"
                viewBox="0 0 34 34"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M17 0C7.61116 0 0 7.61116 0 17C0 26.3888 7.61116 34 17 34C26.3888 34 34 26.3888 34 17C34 7.61116 26.3888 0 17 0ZM10.8906 6.75268C11.2409 6.73203 11.5575 6.94138 11.7975 7.31298L14.1217 11.7207C14.3664 12.243 14.2274 12.8022 13.8623 13.1754L12.7977 14.24C12.732 14.33 12.6888 14.4314 12.6878 14.5429C13.096 16.1232 14.3344 17.5809 15.427 18.5834C16.5196 19.5858 17.694 20.943 19.2184 21.2645C19.4068 21.3171 19.6376 21.3359 19.7725 21.2106L21.0093 19.9509C21.4362 19.6274 22.0538 19.4705 22.5096 19.7351H22.5304L26.7243 22.2108C27.3399 22.5967 27.4037 23.3426 26.963 23.7963L24.0744 26.6621C23.6478 27.0996 23.081 27.2467 22.5304 27.2473C20.0952 27.1744 17.7943 25.9791 15.9044 24.7509C12.8021 22.494 9.95653 19.6949 8.17006 16.3131C7.4849 14.895 6.68004 13.0857 6.75685 11.5029C6.76371 10.9074 6.92481 10.324 7.34414 9.94024L10.2328 7.05157C10.4578 6.8601 10.6804 6.76509 10.8906 6.75268Z"
                  fill="currentColor"
                />
              </svg>

              <small class="apartment-btns__btn-text">CONTACT AN AGENT</small>
            </span>
          </a>
          <button class="apartment-btns__btn" type="button">
            <span class="apartment-btns__btn-inner">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
                />
              </svg>
              <small class="apartment-btns__btn-text"
                >ADD TO MY FAVORITES</small
              >
            </span>
          </button>
        </div>
        <!-- <div class="for-sale">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.75 19.5L8.25 12l7.5-7.5"
            />
          </svg>

          <div class="for-sale__inner">
            345 of 345 <span class="text-blue">FOR SALE</span>
          </div>
        </div> -->
      </div>
    </div>
    <div class="apartment__top">
      <div class="apartment__slider swiper">
        <button class="swiper-button-prev" type="button" aria-label="prev">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path
              d="M11.8284 12.0005L14.6569 14.8289L13.2426 16.2431L9 12.0005L13.2426 7.75781L14.6569 9.17203L11.8284 12.0005Z"
            ></path>
          </svg>
        </button>
        <button class="swiper-button-next" type="button" aria-label="next">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path
              d="M12.1717 12.0005L9.34326 9.17203L10.7575 7.75781L15.0001 12.0005L10.7575 16.2431L9.34326 14.8289L12.1717 12.0005Z"
            ></path>
          </svg>
        </button>
        <ul class="apartment__slides swiper-wrapper">
          <li class="apartment__slide swiper-slide">
            <img src="img/apartment-commercial/1.jpg" alt="img" />
          </li>
          <li class="apartment__slide swiper-slide">
            <img src="img/apartment-commercial/1.jpg" alt="img" />
          </li>
          <li class="apartment__slide swiper-slide">
            <img src="img/apartment-commercial/1.jpg" alt="img" />
          </li>
        </ul>
      </div>
      <div class="apartment__right">
        <ul class="apartment__list">
          <li class="apartment-item apartment-item--big">
            <img src="img/legal-icon.png" alt="img" />
            <div class="apartment-item__info">
              <b>Legal Description: </b>
              <p>
                GOLDEN BEACH SEC B PB 9-52 LOTS 7 TO 11 INC BLK B LOT SIZE
                250.000 X 273 OR 12627-53 0985 1
              </p>
            </div>
          </li>
          <li class="apartment-item">
            <img src="img/home.png" alt="img" />
            <div class="apartment-item__info">
              <b>Listed on: </b>
              <p>Feb 22, 2023</p>
            </div>
          </li>
          <li class="apartment-item">
            <img src="img/smart-lock.png" alt="img" />
            <div class="apartment-item__info">
              <b>Occupancy: </b>
              <p>n/a</p>
            </div>
          </li>
          <li class="apartment-item">
            <img src="img/tax.png" alt="img" />
            <div class="apartment-item__info">
              <b>Taxes: </b>
              <p>$12,692 per year</p>
            </div>
          </li>
          <li class="apartment-item">
            <img src="img/floor.png" alt="img" />
            <div class="apartment-item__info">
              <b>Floor Description: </b>
              <p>---</p>
            </div>
          </li>
          <li class="apartment-item">
            <img src="img/house.png" alt="img" />
            <div class="apartment-item__info">
              <b>Year Built: </b>
              <p>1991</p>
            </div>
          </li>
          <li class="apartment-item">
            <img src="img/zone-icon.png" alt="img" />
            <div class="apartment-item__info">
              <b>Zoning: </b>
              <p>---</p>
            </div>
          </li>
          <li class="apartment-item">
            <img src="img/wall-clock.png" alt="img" />
            <div class="apartment-item__info">
              <b>Days on Market: </b>
              <p>92</p>
            </div>
          </li>
          <li class="apartment-item">
            <img src="img/parking.png" alt="img" />
            <div class="apartment-item__info">
              <b>Parking: </b>
              <p>Yes</p>
            </div>
          </li>
          <li class="apartment-item">
            <img src="img/calendar-3.png" alt="img" />
            <div class="apartment-item__info">
              <b>Tax Year: </b>
              <p>2022</p>
            </div>
          </li>
          <li class="apartment-item">
            <img src="img/dollar-2.png" alt="img" />
            <div class="apartment-item__info">
              <b>Price: </b>
              <p>$850,000 - $2,000,000</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="apartment__note">
      <b> ONE Park Tower by Turnberry</b>
      <p>2411 Laguna Circle, North Miami, FL 33181</p>
    </div>

    <div class="apartment-commercial-descr">
      <h3 class="apartment-commercial-descr__title">
        355 Ocean Blvd Golden Beach, FL
      </h3>
      <p class="apartment-commercial-descr__text">
        Own a piece of paradise, the largest oceanfront estate in all of Miami.
        Spanning 250’ of white sand pristine ocean frontage on 1.5 acres this
        extraordinary property boasts unparalleled views of sparkling blue
        waters of the Atlantic ocean. Miami’s ultimate beachfront trophy
        property located in the exclusive Golden Beach enclave presents a
        once-in-a-lifetime opportunity for the most discerning buyer seeking to
        build an estate of their dreams or renovate w/ approved plans for an
        elegant 10 BD, 30,000 SF home w/ soaring ceilings & ocean breezes. Enjoy
        privacy & security in a serene coastal utopia, with its own police force
        and marine patrol. Live just minutes from world-class shopping, dining,
        a private beachfront clubhouse and tennis courts. Endless sunrises &
        white sand beaches await you.
      </p>
    </div>
  </div>
</section>
