<section class="apartment apartment--new">
  <div class="container">
    <h1 class="apartment__title">
      One Park Tower by Turnberry, North Miami FL
    </h1>
    <div class="apartment__top">
      <div class="apartment__slider swiper">
        <button class="swiper-button-prev" type="button" aria-label="prev">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path
              d="M11.8284 12.0005L14.6569 14.8289L13.2426 16.2431L9 12.0005L13.2426 7.75781L14.6569 9.17203L11.8284 12.0005Z"
            ></path>
          </svg>
        </button>
        <button class="swiper-button-next" type="button" aria-label="next">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path
              d="M12.1717 12.0005L9.34326 9.17203L10.7575 7.75781L15.0001 12.0005L10.7575 16.2431L9.34326 14.8289L12.1717 12.0005Z"
            ></path>
          </svg>
        </button>
        <ul class="apartment__slides swiper-wrapper">
          <li class="apartment__slide swiper-slide">
            <img src="img/condos-apartment/1.jpg" alt="img" />
          </li>
          <li class="apartment__slide swiper-slide">
            <img src="img/condos-apartment/1.jpg" alt="img" />
          </li>
          <li class="apartment__slide swiper-slide">
            <img src="img/condos-apartment/1.jpg" alt="img" />
          </li>
        </ul>
      </div>
      <div class="apartment__right">
        <h2 class="apartment__heading">Description</h2>

        <div class="apartment__numbers">
          <div class="apartment__number">
            <span class="text-blue">303 </span>
            <p class="text-uppercase">TOTAL UNITS</p>
          </div>
          <div class="apartment__number">
            <span class="text-blue">32 </span>
            <p class="text-uppercase">FLOORS</p>
          </div>
          <div class="apartment__number">
            <span class="text-blue">2024 </span>
            <p class="text-uppercase">DELIVERY</p>
          </div>
          <div class="apartment__number">
            <span class="text-blue">850K </span>
            <p class="text-uppercase">STARTING PRICE</p>
          </div>
        </div>

        <ul class="apartment__list">
          <li class="apartment-item">
            <img src="img/location.png" alt="img" />
            <div class="apartment-item__info">
              <b>View on Map: </b>
              <p>2411 Laguna Circle, North Miami, FL 33181</p>
            </div>
          </li>
          <li class="apartment-item">
            <img src="img/dollar.png" alt="img" />
            <div class="apartment-item__info">
              <b>Prices: </b>
              <p>$850,000 - $2,000,000</p>
            </div>
          </li>
          <li class="apartment-item">
            <img src="img/settings.png" alt="img" />
            <div class="apartment-item__info">
              <b>Maintenance: </b>
              <p>TBD</p>
            </div>
          </li>
          <li class="apartment-item">
            <img src="img/bed-2.png" alt="img" />
            <div class="apartment-item__info">
              <b>Residences: </b>
              <p>1-3 Bedrooms</p>
            </div>
          </li>
          <li class="apartment-item">
            <img src="img/area.png" alt="img" />
            <div class="apartment-item__info">
              <b>Square Feet Range: </b>
              <p>896 - 2,085 sq.ft. \ 92 - 194 m2</p>
            </div>
          </li>
          <li class="apartment-item">
            <img src="img/architect.png" alt="img" />
            <div class="apartment-item__info">
              <b>Architect: </b>
              <p>Arquitectonica</p>
            </div>
          </li>
          <li class="apartment-item">
            <img src="img/designer.png" alt="img" />
            <div class="apartment-item__info">
              <b>Interiour Designer: </b>
              <p>Meyer Davis Studio</p>
            </div>
          </li>
          <li class="apartment-item">
            <img src="img/constructor.png" alt="img" />
            <div class="apartment-item__info">
              <b>Developer: </b>
              <p>Turnberry</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="apartment__note">
      <b> ONE Park Tower by Turnberry</b>
      <p>2411 Laguna Circle, North Miami, FL 33181</p>
    </div>

    <div class="apartment__descr">
      <h2 class="apartment__head">
        ONE Park Tower by Turnberry is Where Luxury Soars to New Heights
      </h2>
      <p class="apartment__text">
        ONE Park Tower by Turnberry is the newest addition to SoLé Mia, a
        184-acre city-within-a-city. This luxurious condominium experience is
        being brought to life by two of South Florida’s most accomplished real
        estate visionaries – Turnberry Development and Rosso Development. A
        uniquely elegant community, ONE Park Tower is lushly landscaped and
        features an unparalleled collection of indoor and outdoor amenities as
        well as five-star hospitality-style services. From sophisticated
        architecture by Arquitectonica and interiors by Meyer Davis Studio to
        exquisitely imagined gardens by Enzo Enea, every element of ONE Park
        Tower has been thoughtfully conceived.
      </p>
    </div>
  </div>
</section>
