<section class="commercial">
  <div class="container">
    <div class="commercial__top">
      <h1 class="commercial__title">Commercial</h1>
    </div>
  </div>

  <div
    class="commercial__filters"
    style="background-image: url('img/filters-form-bg.jpg')"
  >
    <div class="contianer">
      <form class="form-filters">
        <div class="form-filters__inner">
          <div class="form-filters__wrap">
            <label
              class="form-filters__group form-filters__group--for-sale-block"
            >
              <select class="form-filters__select">
                <option value="Price">for sale/for rent</option>
              </select>
            </label>
            <div class="for-sale-block">
              <div class="for-sale-block__box">
                <div class="for-sale-block__wrap">
                  <div class="for-sale-block__btns">
                    <label class="checkbox">
                      <input
                        class="checkbox__input"
                        type="radio"
                        name="for-sale"
                        checked
                      />
                      <span class="checkbox__box"></span>
                      <span class="checkbox__text"> for sale </span>
                    </label>
                    <label class="checkbox">
                      <input
                        class="checkbox__input"
                        type="radio"
                        name="for-sale"
                      />
                      <span class="checkbox__box"></span>
                      <span class="checkbox__text"> for rent </span>
                    </label>
                  </div>
                  <button class="for-sale-block__btn btn" type="button">
                    Apply
                  </button>
                </div>
              </div>
            </div>
          </div>
          <label class="form-filters__group">
            <select class="form-filters__select">
              <option value="Price">Search all types for sale</option>
              <option value="Bed and Bath">Search all types for sale</option>
              <option value="Price">Search all types for sale</option>
            </select>
          </label>
          <label class="checkbox">
            <input class="checkbox__input" type="checkbox" required />
            <span class="checkbox__box"></span>
            <span class="checkbox__text"> Miami-Dade </span>
          </label>
          <label class="checkbox">
            <input class="checkbox__input" type="checkbox" required />
            <span class="checkbox__box"></span>
            <span class="checkbox__text">Broward</span>
          </label>
          <button class="form-filters__btn" type="button">
            <svg class="form-search__icon">
              <use xlink:href="img/sprite.svg#search"></use>
            </svg>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="container">
    <ul class="commercial__list">
      <li class="commercial__item">
        <article class="commercial-card">
          <div class="commercial-card__badge"><span>99</span> for sale</div>
          <div class="commercial-card__top">
            <img src="img/commercial/1.jpg" alt="img" />
          </div>
          <div class="commercial-card__body">
            <h3 class="commercial-card__title">Business Opportunity</h3>
            <p class="commercial-card__text">
              Search for a professional long-term investment opportunity or find
              the best place for business in Miami.
            </p>
          </div>
        </article>
      </li>
      <li class="commercial__item">
        <article class="commercial-card">
          <div class="commercial-card__badge"><span>69</span> for sale</div>
          <div class="commercial-card__top">
            <img src="img/commercial/2.jpg" alt="img" />
          </div>
          <div class="commercial-card__body">
            <h3 class="commercial-card__title">COMMERCIAL INCOMEy</h3>
            <p class="commercial-card__text">
              Search for a professional long-term investment opportunity or find
              the best place for business in Miami
            </p>
          </div>
        </article>
      </li>
      <li class="commercial__item">
        <article class="commercial-card">
          <div class="commercial-card__badge"><span>0</span> for sale</div>
          <div class="commercial-card__top">
            <img src="img/commercial/3.jpg" alt="img" />
          </div>
          <div class="commercial-card__body">
            <h3 class="commercial-card__title">COMMERCIAL LANDy</h3>
            <p class="commercial-card__text">
              Search for a professional long-term investment opportunity or find
              the best place for business in Miami
            </p>
          </div>
        </article>
      </li>
      <li class="commercial__item">
        <article class="commercial-card">
          <div class="commercial-card__badge"><span>99</span> for sale</div>
          <div class="commercial-card__top">
            <img src="img/commercial/4.jpg" alt="img" />
          </div>
          <div class="commercial-card__body">
            <h3 class="commercial-card__title">Business Opportunity</h3>
            <p class="commercial-card__text">
              Search for a professional long-term investment opportunity or find
              the best place for business in Miami
            </p>
          </div>
        </article>
      </li>
      <li class="commercial__item">
        <article class="commercial-card">
          <div class="commercial-card__badge"><span>69</span> for sale</div>
          <div class="commercial-card__top">
            <img src="img/commercial/5.jpg" alt="img" />
          </div>
          <div class="commercial-card__body">
            <h3 class="commercial-card__title">COMMERCIAL INCOME</h3>
            <p class="commercial-card__text">
              Search for a professional long-term investment opportunity or find
              the best place for business in Miami
            </p>
          </div>
        </article>
      </li>
      <li class="commercial__item">
        <article class="commercial-card">
          <div class="commercial-card__badge"><span>0</span> for sale</div>
          <div class="commercial-card__top">
            <img src="img/commercial/6.jpg" alt="img" />
          </div>
          <div class="commercial-card__body">
            <h3 class="commercial-card__title">COMMERCIAL LAND</h3>
            <p class="commercial-card__text">
              Search for a professional long-term investment opportunity or find
              the best place for business in Miami
            </p>
          </div>
        </article>
      </li>
      <li class="commercial__item">
        <article class="commercial-card">
          <div class="commercial-card__badge"><span>99</span> for sale</div>
          <div class="commercial-card__top">
            <img src="img/commercial/1.jpg" alt="img" />
          </div>
          <div class="commercial-card__body">
            <h3 class="commercial-card__title">Business Opportunity</h3>
            <p class="commercial-card__text">
              Search for a professional long-term investment opportunity or find
              the best place for business in Miami.
            </p>
          </div>
        </article>
      </li>
      <li class="commercial__item">
        <article class="commercial-card">
          <div class="commercial-card__badge"><span>69</span> for sale</div>
          <div class="commercial-card__top">
            <img src="img/commercial/2.jpg" alt="img" />
          </div>
          <div class="commercial-card__body">
            <h3 class="commercial-card__title">COMMERCIAL INCOMEy</h3>
            <p class="commercial-card__text">
              Search for a professional long-term investment opportunity or find
              the best place for business in Miami
            </p>
          </div>
        </article>
      </li>
      <li class="commercial__item">
        <article class="commercial-card">
          <div class="commercial-card__badge"><span>0</span> for sale</div>
          <div class="commercial-card__top">
            <img src="img/commercial/3.jpg" alt="img" />
          </div>
          <div class="commercial-card__body">
            <h3 class="commercial-card__title">COMMERCIAL LANDy</h3>
            <p class="commercial-card__text">
              Search for a professional long-term investment opportunity or find
              the best place for business in Miami
            </p>
          </div>
        </article>
      </li>
      <li class="commercial__item">
        <article class="commercial-card">
          <div class="commercial-card__badge"><span>99</span> for sale</div>
          <div class="commercial-card__top">
            <img src="img/commercial/4.jpg" alt="img" />
          </div>
          <div class="commercial-card__body">
            <h3 class="commercial-card__title">Business Opportunity</h3>
            <p class="commercial-card__text">
              Search for a professional long-term investment opportunity or find
              the best place for business in Miami
            </p>
          </div>
        </article>
      </li>
      <li class="commercial__item">
        <article class="commercial-card">
          <div class="commercial-card__badge"><span>69</span> for sale</div>
          <div class="commercial-card__top">
            <img src="img/commercial/5.jpg" alt="img" />
          </div>
          <div class="commercial-card__body">
            <h3 class="commercial-card__title">COMMERCIAL INCOME</h3>
            <p class="commercial-card__text">
              Search for a professional long-term investment opportunity or find
              the best place for business in Miami
            </p>
          </div>
        </article>
      </li>
      <li class="commercial__item">
        <article class="commercial-card">
          <div class="commercial-card__badge"><span>0</span> for sale</div>
          <div class="commercial-card__top">
            <img src="img/commercial/6.jpg" alt="img" />
          </div>
          <div class="commercial-card__body">
            <h3 class="commercial-card__title">COMMERCIAL LAND</h3>
            <p class="commercial-card__text">
              Search for a professional long-term investment opportunity or find
              the best place for business in Miami
            </p>
          </div>
        </article>
      </li>
    </ul>

    <div class="pagination">
      <p class="pagination__text">Page 1 of 29</p>

      <ul class="pagination__list">
        <li class="pagination__item">
          <button class="pagination__btn" type="button">1</button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn" type="button">2</button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn" type="button">3</button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn" type="button">4</button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn" type="button">5</button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn" type="button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M8.25 4.5l7.5 7.5-7.5 7.5"
              />
            </svg>
          </button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn" type="button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5"
              />
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
