<section class="communities">
  <div class="container">
    <div class="communities__top">
      <h1 class="communities__title">Miami communities</h1>
      <p class="communities__text">
        Miami is not just a place, it is a lifestyle…rich in culture, art,
        entertainment, fine eateries, posh shopping and luxurious residences,
        all complimented by the tropical climate and beautiful beaches. Miami
        and Miami Beach are comprised of many different neighborhoods, each
        offering its own unique charm and allure. Below is a list of luxury
        communities in and around Miami and Miami Beach so that you may easily
        explore the unique lifestyle of each community.
      </p>
    </div>

    <ul class="communities__list">
      <li class="communities__item">
        <article class="communities-card">
          <h3 class="communities-card__title">Allison Island</h3>

          <div class="communities-card__img">
            <img src="img/communities/1.jpg" alt="img" />
          </div>

          <div class="communities-card__btns">
            <a class="communities-card__btn btn" href="#">Homes For Sale</a>
            <a class="communities-card__btn btn" href="#">Condos For Sale</a>
          </div>
        </article>
      </li>
      <li class="communities__item">
        <article class="communities-card">
          <h3 class="communities-card__title">Aventura</h3>

          <div class="communities-card__img">
            <img src="img/communities/2.jpg" alt="img" />
          </div>

          <div class="communities-card__btns">
            <a class="communities-card__btn btn" href="#">Homes For Sale</a>
            <a class="communities-card__btn btn" href="#">Condos For Sale</a>
          </div>
        </article>
      </li>
      <li class="communities__item">
        <article class="communities-card">
          <h3 class="communities-card__title">Bal Harbour</h3>

          <div class="communities-card__img">
            <img src="img/communities/3.jpg" alt="img" />
          </div>

          <div class="communities-card__btns">
            <a class="communities-card__btn btn" href="#">Homes For Sale</a>
            <a class="communities-card__btn btn" href="#">Condos For Sale</a>
          </div>
        </article>
      </li>
      <li class="communities__item">
        <article class="communities-card">
          <h3 class="communities-card__title">Bay Harbor Islands</h3>

          <div class="communities-card__img">
            <img src="img/communities/4.jpg" alt="img" />
          </div>

          <div class="communities-card__btns">
            <a class="communities-card__btn btn" href="#">Homes For Sale</a>
            <a class="communities-card__btn btn" href="#">Condos For Sale</a>
          </div>
        </article>
      </li>
      <li class="communities__item">
        <article class="communities-card">
          <h3 class="communities-card__title">Brickell</h3>

          <div class="communities-card__img">
            <img src="img/communities/5.jpg" alt="img" />
          </div>

          <div class="communities-card__btns">
            <a class="communities-card__btn btn" href="#">Homes For Sale</a>
            <a class="communities-card__btn btn" href="#">Condos For Sale</a>
          </div>
        </article>
      </li>
      <li class="communities__item">
        <article class="communities-card">
          <h3 class="communities-card__title">Brickell Key</h3>

          <div class="communities-card__img">
            <img src="img/communities/6.jpg" alt="img" />
          </div>

          <div class="communities-card__btns">
            <a class="communities-card__btn btn" href="#">Homes For Sale</a>
            <a class="communities-card__btn btn" href="#">Condos For Sale</a>
          </div>
        </article>
      </li>
      <li class="communities__item">
        <article class="communities-card">
          <h3 class="communities-card__title">Allison Island</h3>

          <div class="communities-card__img">
            <img src="img/communities/1.jpg" alt="img" />
          </div>

          <div class="communities-card__btns">
            <a class="communities-card__btn btn" href="#">Homes For Sale</a>
            <a class="communities-card__btn btn" href="#">Condos For Sale</a>
          </div>
        </article>
      </li>
      <li class="communities__item">
        <article class="communities-card">
          <h3 class="communities-card__title">Aventura</h3>

          <div class="communities-card__img">
            <img src="img/communities/1.jpg" alt="img" />
          </div>

          <div class="communities-card__btns">
            <a class="communities-card__btn btn" href="#">Homes For Sale</a>
            <a class="communities-card__btn btn" href="#">Condos For Sale</a>
          </div>
        </article>
      </li>
      <li class="communities__item">
        <article class="communities-card">
          <h3 class="communities-card__title">Bal Harbour</h3>

          <div class="communities-card__img">
            <img src="img/communities/1.jpg" alt="img" />
          </div>

          <div class="communities-card__btns">
            <a class="communities-card__btn btn" href="#">Homes For Sale</a>
            <a class="communities-card__btn btn" href="#">Condos For Sale</a>
          </div>
        </article>
      </li>
      <li class="communities__item">
        <article class="communities-card">
          <h3 class="communities-card__title">Allison Island</h3>

          <div class="communities-card__img">
            <img src="img/communities/1.jpg" alt="img" />
          </div>

          <div class="communities-card__btns">
            <a class="communities-card__btn btn" href="#">Homes For Sale</a>
            <a class="communities-card__btn btn" href="#">Condos For Sale</a>
          </div>
        </article>
      </li>
      <li class="communities__item">
        <article class="communities-card">
          <h3 class="communities-card__title">Aventura</h3>

          <div class="communities-card__img">
            <img src="img/communities/1.jpg" alt="img" />
          </div>

          <div class="communities-card__btns">
            <a class="communities-card__btn btn" href="#">Homes For Sale</a>
            <a class="communities-card__btn btn" href="#">Condos For Sale</a>
          </div>
        </article>
      </li>
      <li class="communities__item">
        <article class="communities-card">
          <h3 class="communities-card__title">Bal Harbour</h3>

          <div class="communities-card__img">
            <img src="img/communities/1.jpg" alt="img" />
          </div>

          <div class="communities-card__btns">
            <a class="communities-card__btn btn" href="#">Homes For Sale</a>
            <a class="communities-card__btn btn" href="#">Condos For Sale</a>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
