<section class="condos">
  <div class="container">
    <h1 class="condos__title">3030 Aventura apartments for sale and rent</h1>

    <div class="condos__top">
      <div class="condos__img">
        <img src="img/condos-card/img.jpg" alt="img" />
      </div>
      <div class="condos-info">
        <div class="condos-info__top">
          <div class="condos-info__top-item condos-info__top-item--green">
            <div class="condos-info__top-text"><span>1</span> for Sale</div>
          </div>
          <div class="condos-info__top-item condos-info__top-item--blue">
            <div class="condos-info__top-text"><span>0</span> for Rent</div>
          </div>
          <div class="condos-info__top-item condos-info__top-item--black">
            <div class="condos-info__top-text">Built in <b>2007</b></div>
          </div>
        </div>
        <div class="condos-info__details">
          <div class="condos-info__details-box">
            <div class="condos-info__detail">
              <img
                class="condos-info__detail-img"
                src="img/condos-card/area.png"
                alt="img"
              />
              <p class="condos-info__detail-text">Apartments in Building:</p>
              <b class="condos-info__detail-number">45</b>
            </div>
            <div class="condos-info__detail">
              <img
                class="condos-info__detail-img"
                src="img/condos-card/floors.png"
                alt="img"
              />
              <p class="condos-info__detail-text">Floors in Building:</p>
              <b class="condos-info__detail-number">45</b>
            </div>
          </div>
          <div class="condos-info__details-box">
            <div class="condos-info__detail condos-info__detail--flex-start">
              <img
                class="condos-info__detail-img"
                src="img/condos-card/builder.png"
                alt="img"
              />
              <div class="condos-info__detail-info">
                <b class="condos-info__detail-number">Developer: </b>
                <p class="condos-info__detail-text">
                  Jose Saal, Mark Rousso & Lauris Boulanger
                </p>
              </div>
            </div>
            <div class="condos-info__detail condos-info__detail--flex-start">
              <img
                class="condos-info__detail-img"
                src="img/condos-card/drawing-compass.png"
                alt="img"
              />
              <div class="condos-info__detail-info">
                <b class="condos-info__detail-number">Architect: </b>
                <p class="condos-info__detail-text">Kobi Karp</p>
              </div>
            </div>
          </div>
        </div>
        <div class="condos-info__bottom">
          <div class="condos-info__bottom-left">
            <p class="condos-info__bottom-text">
              Any questions about <span>3030 Aventura Condo?</span>
            </p>
          </div>
          <button class="condos-info__bottom-btn btn" type="button">
            REQUEST INFORMATION
          </button>
        </div>
      </div>
    </div>

    <div class="condos-details">
      <div class="condos-details__top">
        <img
          class="condos-details__icon"
          width="30"
          height="30"
          src="img/condos-card/list-icon.png"
          alt="img"
        />
        Building Details & Policies
      </div>

      <div class="condos-details__inner">
        <div class="condos-details__col">
          <div class="condos-details__item">
            <b>Long-term rentals only</b>
          </div>
          <div class="condos-details__item condos-details__item--flex-col">
            <b> Rental Policy:</b>
            <p>2 times a Year, 6 Months minimum</p>
          </div>
          <div class="condos-details__item">
            <b> Lease after Purchase:</b>
            <span> Okay To Lease 1st Year</span>
          </div>
          <div class="condos-details__item condos-details__item--border-top">
            <b> Pet Policy:</b>
            <p>Possible Restrictions</p>
          </div>
        </div>
        <div class="condos-details__col">
          <div class="condos-details__item condos-details__item--flex-col">
            <b class="condos-details__heading">
              Apartment Mix in 3030 Aventura
            </b>
            <div class="condos-details__specs">
              <div class="condos-details__spec condos-details__spec--total">
                Total 45
              </div>
              <div class="condos-details__spec">Studios</div>
              <div class="condos-details__spec">1 Bed</div>
              <div class="condos-details__spec">2 Bed</div>
              <div class="condos-details__spec">3 Bed</div>
              <div class="condos-details__spec">4+ Bed</div>
            </div>
          </div>
          <div class="condos-details__item condos-details__item--flex-row">
            <img
              class="condos-details__icon"
              width="30"
              height="30"
              src="img/condos-card/wrench.png"
              alt="img"
            />
            <div class="condos-details__info">
              <b>Maintenance: $0.50 per sq.ft. / $5.38 per m2</b>
              <p>Actual maintenance per unit may vary</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="condos-tabs">
      <div class="condos-tabs__top">
        <ul class="condos-tabs__top-list">
          <li class="condos-tabs__top-item">
            <button class="condos-tabs__top-btn active" type="button">
              1 for Sale
            </button>
          </li>
          <li class="condos-tabs__top-item">
            <button class="condos-tabs__top-btn" type="button">
              0 for Rent
            </button>
          </li>
          <li class="condos-tabs__top-item">
            <button class="condos-tabs__top-btn" type="button">
              Statistics
            </button>
          </li>
          <li class="condos-tabs__top-item">
            <button class="condos-tabs__top-btn" type="button">SOLD</button>
          </li>
          <li class="condos-tabs__top-item">
            <button class="condos-tabs__top-btn" type="button">
              Floor plans
            </button>
          </li>
        </ul>
      </div>
      <div class="condos-tabs__content active">
        <div class="condos-tabs__inner">
          <p class="condos-tabs__text-blue">
            2 Bedroom Units for Sale in 3030 Aventura
          </p>
          <div class="condos-table">
            <div class="condos-table__wrapper">
              <div class="condos-table__row">
                <div class="condos-table__item">Apt</div>
                <div class="condos-table__item">Bet/Baths</div>
                <div class="condos-table__item">Living Area</div>
                <div class="condos-table__item">Price</div>
                <div class="condos-table__item">Furniture</div>
                <div class="condos-table__item">Listed on</div>
                <div class="condos-table__item">$ per ft2 (m2)</div>
                <div class="condos-table__item">
                  <div class="condos-table__icons">
                    <svg
                      class="condos-table__icon"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
                      />
                    </svg>
                    <svg
                      class="condos-table__icon"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
                      />
                    </svg>
                  </div>
                </div>
              </div>
              <div class="condos-table__row">
                <div class="condos-table__item">503</div>
                <div class="condos-table__item">2/2</div>
                <div class="condos-table__item">1,453 ft2 (135m2)</div>
                <div class="condos-table__item">$650,000</div>
                <div class="condos-table__item">n/a</div>
                <div class="condos-table__item">May 21, 23</div>
                <div class="condos-table__item">$447 ($4,815)</div>
                <div class="condos-table__item condos-table__item--icon">
                  <svg
                    class="condos-table__icon"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
                    />
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="condos-tabs__content">
        <div class="condos-tabs__inner">
          <p class="condos-tabs__text-blue">
            2 Bedroom Units for Sale in 3030 Aventura
          </p>
          <div class="condos-table">
            <div class="condos-table__wrapper">
              <div class="condos-table__row">
                <div class="condos-table__item">Apt</div>
                <div class="condos-table__item">Bet/Baths</div>
                <div class="condos-table__item">Living Area</div>
                <div class="condos-table__item">Price</div>
                <div class="condos-table__item">Furniture</div>
                <div class="condos-table__item">Listed on</div>
                <div class="condos-table__item">$ per ft2 (m2)</div>
                <div class="condos-table__item">
                  <div class="condos-table__icons">
                    <svg
                      class="condos-table__icon"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
                      />
                    </svg>
                    <svg
                      class="condos-table__icon"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
                      />
                    </svg>
                  </div>
                </div>
              </div>
              <div class="condos-table__row">
                <div class="condos-table__item">503</div>
                <div class="condos-table__item">2/2</div>
                <div class="condos-table__item">1,453 ft2 (135m2)</div>
                <div class="condos-table__item">$650,000</div>
                <div class="condos-table__item">n/a</div>
                <div class="condos-table__item">May 21, 23</div>
                <div class="condos-table__item">$447 ($4,815)</div>
                <div class="condos-table__item condos-table__item--icon">
                  <svg
                    class="condos-table__icon"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
                    />
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="condos-tabs__content">
        <div class="condos-tabs__inner">
          <p class="condos-tabs__text-blue">
            2 Bedroom Units for Sale in 3030 Aventura
          </p>
          <div class="condos-table">
            <div class="condos-table__wrapper">
              <div class="condos-table__row">
                <div class="condos-table__item">Apt</div>
                <div class="condos-table__item">Bet/Baths</div>
                <div class="condos-table__item">Living Area</div>
                <div class="condos-table__item">Price</div>
                <div class="condos-table__item">Furniture</div>
                <div class="condos-table__item">Listed on</div>
                <div class="condos-table__item">$ per ft2 (m2)</div>
                <div class="condos-table__item">
                  <div class="condos-table__icons">
                    <svg
                      class="condos-table__icon"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
                      />
                    </svg>
                    <svg
                      class="condos-table__icon"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
                      />
                    </svg>
                  </div>
                </div>
              </div>
              <div class="condos-table__row">
                <div class="condos-table__item">503</div>
                <div class="condos-table__item">2/2</div>
                <div class="condos-table__item">1,453 ft2 (135m2)</div>
                <div class="condos-table__item">$650,000</div>
                <div class="condos-table__item">n/a</div>
                <div class="condos-table__item">May 21, 23</div>
                <div class="condos-table__item">$447 ($4,815)</div>
                <div class="condos-table__item condos-table__item--icon">
                  <svg
                    class="condos-table__icon"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
                    />
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="condos-tabs__content">
        <div class="condos-tabs__inner">
          <p class="condos-tabs__text-blue">
            2 Bedroom Units for Sale in 3030 Aventura
          </p>
          <div class="condos-table">
            <div class="condos-table__wrapper">
              <div class="condos-table__row">
                <div class="condos-table__item">Apt</div>
                <div class="condos-table__item">Bet/Baths</div>
                <div class="condos-table__item">Living Area</div>
                <div class="condos-table__item">Price</div>
                <div class="condos-table__item">Furniture</div>
                <div class="condos-table__item">Listed on</div>
                <div class="condos-table__item">$ per ft2 (m2)</div>
                <div class="condos-table__item">
                  <div class="condos-table__icons">
                    <svg
                      class="condos-table__icon"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
                      />
                    </svg>
                    <svg
                      class="condos-table__icon"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
                      />
                    </svg>
                  </div>
                </div>
              </div>
              <div class="condos-table__row">
                <div class="condos-table__item">503</div>
                <div class="condos-table__item">2/2</div>
                <div class="condos-table__item">1,453 ft2 (135m2)</div>
                <div class="condos-table__item">$650,000</div>
                <div class="condos-table__item">n/a</div>
                <div class="condos-table__item">May 21, 23</div>
                <div class="condos-table__item">$447 ($4,815)</div>
                <div class="condos-table__item condos-table__item--icon">
                  <svg
                    class="condos-table__icon"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
                    />
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="condos-tabs__content">
        <div class="condos-tabs__inner">
          <p class="condos-tabs__text-blue">
            2 Bedroom Units for Sale in 3030 Aventura
          </p>
          <div class="condos-table">
            <div class="condos-table__wrapper">
              <div class="condos-table__row">
                <div class="condos-table__item">Apt</div>
                <div class="condos-table__item">Bet/Baths</div>
                <div class="condos-table__item">Living Area</div>
                <div class="condos-table__item">Price</div>
                <div class="condos-table__item">Furniture</div>
                <div class="condos-table__item">Listed on</div>
                <div class="condos-table__item">$ per ft2 (m2)</div>
                <div class="condos-table__item">
                  <div class="condos-table__icons">
                    <svg
                      class="condos-table__icon"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
                      />
                    </svg>
                    <svg
                      class="condos-table__icon"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
                      />
                    </svg>
                  </div>
                </div>
              </div>
              <div class="condos-table__row">
                <div class="condos-table__item">503</div>
                <div class="condos-table__item">2/2</div>
                <div class="condos-table__item">1,453 ft2 (135m2)</div>
                <div class="condos-table__item">$650,000</div>
                <div class="condos-table__item">n/a</div>
                <div class="condos-table__item">May 21, 23</div>
                <div class="condos-table__item">$447 ($4,815)</div>
                <div class="condos-table__item condos-table__item--icon">
                  <svg
                    class="condos-table__icon"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
                    />
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="condos-specs">
      <div class="condos-specs__row">
        <div class="specs-item">
          <div class="specs-item__left">1</div>
          <div class="specs-item__info">
            <b class="specs-item__title">Condos for Sale </b>
            <p class="specs-item__text">from $650,000 to $650,000</p>
          </div>
        </div>
        <div class="specs-item">
          <div class="specs-item__left">0</div>
          <div class="specs-item__info">
            <b class="specs-item__title">Condos for Rent </b>
          </div>
        </div>
      </div>
      <div class="condos-specs__row">
        <div class="specs-item">
          <div class="specs-item__left">
            <img src="img/condos-card/wrench.png" alt="img" />
          </div>
          <div class="specs-item__info">
            <b class="specs-item__title">Maintenance: </b>
            <p class="specs-item__text">0.50 per ft2 ($ 5.38)</p>
          </div>
        </div>
        <div class="specs-item">
          <div class="specs-item__left">
            <img src="img/condos-card/wrench.png" alt="img" />
          </div>
          <div class="specs-item__info">
            <b class="specs-item__title">Built in: </b>
            <p class="specs-item__text">2007</p>
          </div>
        </div>
      </div>
      <div class="condos-specs__row">
        <div class="specs-item">
          <div class="specs-item__left">
            <img src="img/condos-card/wrench.png" alt="img" />
          </div>
          <div class="specs-item__info">
            <b class="specs-item__title">Units in Building: </b>
            <p class="specs-item__text">45</p>
          </div>
        </div>
        <div class="specs-item">
          <div class="specs-item__left">
            <img src="img/condos-card/floors.png" alt="img" />
          </div>
          <div class="specs-item__info">
            <b class="specs-item__title">Floors in Building: </b>
            <p class="specs-item__text">7</p>
          </div>
        </div>
      </div>
      <div class="condos-specs__row">
        <div class="specs-item">
          <div class="specs-item__left">
            <img src="img/condos-card/wrench.png" alt="img" />
          </div>
          <div class="specs-item__info">
            <b class="specs-item__title">Condo Sizes: </b>
            <p class="specs-item__text">0 - 1,453 ft2 (135 - 135) m2</p>
          </div>
        </div>
        <div class="specs-item">
          <div class="specs-item__left">
            <img src="img/condos-card/wrench.png" alt="img" />
          </div>
          <div class="specs-item__info">
            <b class="specs-item__title">Architect: </b>
            <p class="specs-item__text">Kobi Karp</p>
          </div>
        </div>
      </div>
      <div class="condos-specs__row condos-specs__row--big">
        <div class="specs-item">
          <div class="specs-item__left">
            <img src="img/condos-card/builder.png" alt="img" />
          </div>
          <div class="specs-item__info">
            <b class="specs-item__title">Developer: </b>
            <p class="specs-item__text">
              Jose Saal, Mark Rousso & Lauris Boulanger:
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="condos__map map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d114964.39567869062!2d-80.31185933089962!3d25.782538872285397!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b0a20ec8c111%3A0xff96f271ddad4f65!2z0JzQsNC50LDQvNC4LCDQpNC70L7RgNC40LTQsCwg0KHQqNCQ!5e0!3m2!1sru!2sru!4v1695819494115!5m2!1sru!2sru"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>

    <div class="condos-descr">
      <h2 class="condos-descr__title">Aventura condos for sale and rent</h2>
      <p class="condos-descr__text">
        The seven-story building will exude the look and feel of a charming, yet
        statuesque single-family estate. Located on the newly renovated 188th
        Street, in the heart of downtown Aventura, residents of 3030 Aventura
        will be steps away from the city's elementary school, new contemporary
        recreation center and Aventura Mall. South Florida's major airports are
        also just minutes away.
      </p>
      <p class="condos-descr__text">
        Only forty-five exclusive residences are available for discerning
        homeowners.
      </p>
      <ul class="condos-descr__list">
        <li class="condos-descr__item">
          • Vaulted lobby with imported marble and exotic wood finishing
        </li>
        <li class="condos-descr__item">
          • Sun Deck with large pool and spa and covered terraces
        </li>
        <li class="condos-descr__item">• State-of-the-art fitness center</li>
        <li class="condos-descr__item">• 24-hour security</li>
        <li class="condos-descr__item">• Concierge</li>
        <li class="condos-descr__item">• Valet parking</li>
        <li class="condos-descr__item">• Three next-generation elevators</li>
        <li class="condos-descr__item">
          • State-of-the-art fire and smoke protection system
        </li>
        <li class="condos-descr__item">• Assigned covered parking.</li>
      </ul>
      <p class="condos-descr__text">
        For any questions about
        <a href="#" target="_blank">Aventura Real Estate</a> contact Miami
        Residence Realty - Aventura Real Estate Agent.
      </p>
      <p class="condos-descr__text">Call today 305 339-4265</p>
      <p class="condos-descr__text">For any questions about contact us</p>
      <p class="condos-descr__text">Call today 305 339-4265</p>
    </div>
  </div>
</section>
