<section class="contact-today">
  <div class="contact-today__wrapper">
    <div class="contact-today__left">
      <h2 class="contact-today__title">Contact us today</h2>
      <p class="contact-today__text">
        Should you have any questions, or if you would like a detailed breakdown
        \of the exact costs for your family, kindly contact us and we will be
        delighted to help you.
      </p>
      <button class="contact-today__btn btn">CONTACT ADVISOR</button>
    </div>
    <div
      class="contact-today__img"
      style="background-image: url('img/contact-today-img.jpg')"
    ></div>
  </div>
</section>
