<section class="consultation">
  <div class="container">
    <div
      class="consultation__wrapper"
      style="background-image: url('img/consultation-bg.jpg')"
    >
      <div class="consultation__left">
        <h2 class="consultation__title">Prompt consultation</h2>
        <p class="consultation__text">
          Fill in the form and our agent will contact you shortly
        </p>
      </div>
      <form class="consultation__form form-consultation">
        <label class="form-consultation__group">
          <svg>
            <use xlink:href="img/sprite.svg#phone-2"></use>
          </svg>
          <input
            class="form-consultation__input"
            type="text"
            placeholder="Enter your phone"
          />
        </label>
        <button class="form-consultation__btn btn btn--arrow" type="button">
          Send
          <svg>
            <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
</section>
