<section class="developments">
  <div class="container">
    <div class="developments__wrapper">
      <div class="developments__left">
        <div class="developments__heading">Properties</div>
        <div class="developments__top">
          <h2 class="developments__title">New <span>developments</span></h2>
          <p class="developments__text">
            Our properties each have their own unique design aesthetic,
            providing an aspirational lifestyle within a thriving community,
            supported by Emaar’s community management team.
          </p>
          <a class="developments__btn btn btn--arrow" href="#">
            to all developments
            <svg>
              <use xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
          </a>
        </div>
      </div>
      <ul class="developments__list">
        <li class="developments-item developments-item--big">
          <div class="developments-item__top">
            <picture>
              <source srcset="img/developments/1.webp" type="image/webp" />
              <img
                src="img/developments/1.jpg"
                width="380"
                height="240"
                alt="img"
              />
            </picture>
          </div>
          <span class="developments-item__text">
            ALINA RESIDENCES BOCA RATON
          </span>
        </li>
        <li class="developments-item">
          <div class="developments-item__top">
            <picture>
              <source srcset="img/developments/2.webp" type="image/webp" />
              <img
                src="img/developments/2.jpg"
                width="380"
                height="240"
                alt="img"
              />
            </picture>
          </div>
          <span class="developments-item__text">
            PRIVATE RESIDENCES FORT LAUDERDALE
          </span>
        </li>
        <li class="developments-item">
          <div class="developments-item__top">
            <picture>
              <source srcset="img/developments/3.webp" type="image/webp" />
              <img
                src="img/developments/3.jpg"
                width="380"
                height="240"
                alt="img"
              />
            </picture>
          </div>
          <span class="developments-item__text">
            MR. C TIGERTAIL RESIDENCES
          </span>
        </li>
      </ul>
    </div>
  </div>
</section>
