<section class="eb">
  <div class="container"></div>

  <div class="eb__wrapper">
    <div class="eb__left">
      <h1 class="eb__title">United States of America</h1>
      <p class="eb__text">
        The USA remains one of&nbsp;the most sought-after destinations for
        investors. The US&nbsp;EB-5 Immigrant Investor Program offers
        an&nbsp;efficient route to permanent resident status (a&nbsp;green card)
        in&nbsp;a&nbsp;short period of&nbsp;time.
      </p>
      <button class="eb__btn btn" type="button">Contact Us</button>
    </div>
    <div class="eb__img" style="background-image: url('img/eb-img.jpg')"></div>
  </div>
</section>
