<section class="eb-descr">
  <div class="container">
    <div class="eb-descr__wrapper">
      <h2 class="eb-descr__title">The US EB-5 Immigrant Investor Program</h2>
      <div class="eb-descr__text">
        <p>
          The USA is a highly sought-after country for international investors.
          For those who wish to acquire permanent resident (‘green card’) status
          in the USA, the EB-5 Immigrant Investor Program is the most efficient
          way to acquire such status. Since 1990 when congress created this
          program, each year, the USA government allocates a substantial number
          of visas for individuals who wish to make a significant, qualified
          investment into the country that can generate jobs for the USA
          economy. Under this program, individuals and their immediate family
          members can become permanent residents of the USA within a short
          period of time.
        </p>
        <p>
          The US EB-5 Immigrant Investor Program is ranked 10th out of 26
          programs on the 2023 Global Residence Program Index.
        </p>
      </div>
    </div>
    <div class="eb-descr__wrapper">
      <h2 class="eb-descr__title eb-descr__title--fz-40">
        Benefits of the US EB-5 Immigrant Investor Program
      </h2>
      <ul class="eb-descr__list">
        <li class="eb-descr__item">
          — One of the most desirable business and lifestyle destinations
          worldwide
        </li>
        <li class="eb-descr__item">
          — Range of top-tier schools and Ivy League universities available
          nationwide
        </li>
        <li class="eb-descr__item">
          — Efficient route to gaining permanent resident status (a green card)
        </li>
        <li class="eb-descr__item">
          — Ability to include a spouse and children who are under 21 years old
          and not married
        </li>
        <li class="eb-descr__item">
          — Minimal application requirements, with no business experience or
          specific language proficiency needed
        </li>
        <li class="eb-descr__item">
          — Flexible physical presence requirements
        </li>
        <li class="eb-descr__item">
          — Citizenship possible after five years of legal residence
        </li>
      </ul>
    </div>
    <div class="eb-descr__wrapper">
      <h2 class="eb-descr__title eb-descr__title--fz-40">
        Requirements of USA residence by investment
      </h2>

      <div class="eb-descr__text">
        <p>
          The US EB-5 Immigrant Investor Program requires that a foreign
          individual invests into a new commercial enterprise that is associated
          with government-approved regional centers based on proposals for
          promoting economic growth.
        </p>
        <p>The following requirements apply:</p>

        <p class="mb">1. Fulfil one of the following investment options:</p>
      </div>

      <ul class="eb-descr__list eb-descr__list--mb">
        <li class="eb-descr__item">
          — One of the most desirable business and lifestyle destinations
          worldwide
        </li>
        <li class="eb-descr__item">
          — Range of top-tier schools and Ivy League universities available
          nationwide
        </li>
        <li class="eb-descr__item">
          — Efficient route to gaining permanent resident status (a green card)
        </li>
        <li class="eb-descr__item">
          — Ability to include a spouse and children who are under 21 years old
          and not married
        </li>
        <li class="eb-descr__item">
          — Minimal application requirements, with no business experience or
          specific language proficiency needed
        </li>
        <li class="eb-descr__item">
          — Flexible physical presence requirements
        </li>
        <li class="eb-descr__item">
          — Citizenship possible after five years of legal residence
        </li>
      </ul>

      <div class="eb-descr__text">
        <p>
          2. Create or preserve 10 permanent full-time jobs for qualified USA
          workers
        </p>
        <p>
          After the successful applicants have received a green card, the funds
          must stay invested until permanent resident status is granted (roughly
          five years).
        </p>
        <p>
          Approved applicants will receive conditional green cards for a period
          of two years. The conditions on the green card are then removed at the
          end of the two years upon demonstrating to USA immigration authorities
          that the jobs were in fact created or maintained. The transition from
          conditional to regular green card does not affect what the green card
          holder can do in the USA.
        </p>
        <p>
          Individual applicants must have a net worth in excess of USD 1 million
          and provide proof that their funds come from legal sources.
        </p>
      </div>
    </div>
  </div>
</section>
