<section class="features">
  <div class="container">
    <div class="features__heading">Communities</div>
    <div class="features__top">
      <h2 class="features__title">Featured <span>Communities</span></h2>
      <div class="features__arrows arrows">
        <button class="swiper-button-prev" type="button" aria-label="prev">
          <svg>
            <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </button>
        <button class="swiper-button-next" type="button" aria-label="next">
          <svg>
            <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="features__slider swiper">
    <ul class="features__slides swiper-wrapper">
      <li class="features__slide swiper-slide">
        <article class="feature-card">
          <a class="feature-card__top" href="#">
            <picture>
              <source srcset="img/features/1.webp" type="image/webp" />
              <img src="img/features/1.jpg" alt="img" />
            </picture>
          </a>
          <div class="feature-card__body">
            <h3 class="feature-card__title"><a href="#">Palm Beach</a></h3>
            <p class="feature-card__text">
              Be&nbsp;closer to&nbsp;nature in&nbsp;houses designed
              in&nbsp;a&nbsp;garden theme.
            </p>
          </div>
        </article>
      </li>
      <li class="features__slide swiper-slide">
        <article class="feature-card">
          <a class="feature-card__top" href="#">
            <picture>
              <source srcset="img/features/2.webp" type="image/webp" />
              <img src="img/features/2.jpg" alt="img" />
            </picture>
          </a>
          <div class="feature-card__body">
            <h3 class="feature-card__title"><a href="#">Jupiter Island</a></h3>
            <p class="feature-card__text">
              Be&nbsp;closer to&nbsp;nature in&nbsp;houses designed
              in&nbsp;a&nbsp;garden theme.
            </p>
          </div>
        </article>
      </li>
      <li class="features__slide swiper-slide">
        <article class="feature-card">
          <a class="feature-card__top" href="#">
            <picture>
              <source srcset="img/features/3.webp" type="image/webp" />
              <img src="img/features/3.jpg" alt="img" />
            </picture>
          </a>
          <div class="feature-card__body">
            <h3 class="feature-card__title"><a href="#">Singer Island</a></h3>
            <p class="feature-card__text">
              Be&nbsp;closer to&nbsp;nature in&nbsp;houses designed
              in&nbsp;a&nbsp;garden theme.
            </p>
          </div>
        </article>
      </li>
      <li class="features__slide swiper-slide">
        <article class="feature-card">
          <a class="feature-card__top" href="#">
            <picture>
              <source srcset="img/features/4.webp" type="image/webp" />
              <img src="img/features/4.jpg" alt="img" />
            </picture>
          </a>
          <div class="feature-card__body">
            <h3 class="feature-card__title"><a href="#">Juno Beach</a></h3>
            <p class="feature-card__text">
              Be&nbsp;closer to&nbsp;nature in&nbsp;houses designed
              in&nbsp;a&nbsp;garden theme.
            </p>
          </div>
        </article>
      </li>
      <li class="features__slide swiper-slide">
        <article class="feature-card">
          <a class="feature-card__top" href="#">
            <picture>
              <source srcset="img/features/5.webp" type="image/webp" />
              <img src="img/features/5.jpg" alt="img" />
            </picture>
          </a>
          <div class="feature-card__body">
            <h3 class="feature-card__title">
              <a href="#">West Palm Beach</a>
            </h3>
            <p class="feature-card__text">
              Be&nbsp;closer to&nbsp;nature in&nbsp;houses designed
              in&nbsp;a&nbsp;garden theme.
            </p>
          </div>
        </article>
      </li>
      <li class="features__slide swiper-slide">
        <article class="feature-card">
          <a class="feature-card__top" href="#">
            <picture>
              <source srcset="img/features/1.webp" type="image/webp" />
              <img src="img/features/1.jpg" alt="img" />
            </picture>
          </a>
          <div class="feature-card__body">
            <h3 class="feature-card__title"><a href="#">West Palm Beach</a></h3>
            <p class="feature-card__text">
              Be&nbsp;closer to&nbsp;nature in&nbsp;houses designed
              in&nbsp;a&nbsp;garden theme.
            </p>
          </div>
        </article>
      </li>
    </ul>
  </div>

  <div class="container">
    <a class="features__btn btn btn--arrow" href="#">
      to all communities
      <svg>
        <use xlink:href="img/sprite.svg#arrow-right"></use>
      </svg>
    </a>
  </div>
</section>
