<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__left">
        <a class="footer__logo" href="#">
          <img src="img/logo.png" alt="logo" />
        </a>
        <a class="phone-block phone-block--mobile" href="tel:305.339.4265">
          <div class="phone-block__info">
            <svg>
              <use xlink:href="img/sprite.svg#phone"></use>
            </svg>
            <span>miami office</span>
          </div>
          <span class="phone-block__numbers">305.339.4265</span>
        </a>
      </div>

      <div class="footer__cols">
        <div class="footer__col">
          <p class="footer__name">Properties</p>
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">Apartments</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">At home</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Apartments</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Penthouses</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Villas</a>
            </li>
          </ul>
        </div>
        <div class="footer__col">
          <p class="footer__name">SERVICES</p>
          <ul class="footer__list footer__list--double">
            <li class="footer__item">
              <a class="footer__link" href="#">Oceanfront Condos</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Commercial Real Estate</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Single Family Homes</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Most Exclusive</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">New Developments</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Foreclosures</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Instant Estimate</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Just Listed</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Market Trends </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Miami's Tallest Buildings</a>
            </li>
          </ul>
        </div>
        <div class="footer__col">
          <p class="footer__name">About</p>
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">About us </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#"> Partners</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Contacts</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Support</a>
            </li>
          </ul>
        </div>
        <div class="footer__col">
          <p class="footer__name">CONTACTS</p>
          <a class="phone-block" href="tel:305.339.4265">
            <div class="phone-block__info">
              <svg>
                <use xlink:href="img/sprite.svg#phone"></use>
              </svg>
              <span>miami office</span>
            </div>
            <span class="phone-block__numbers">305.339.4265</span>
          </a>

          <div class="footer__info">
            <div class="footer__email">
              E-mail:
              <a href="">info@viva.com</a>
            </div>
            <div class="footer__schedule">Mon – Sat: from 9.00-18.00</div>
          </div>
          <ul class="socials">
            <li class="socials__item">
              <a class="socials__link" href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#telegram"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a class="socials__link" href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#whatsapp"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a class="socials__link" href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a class="socials__link" href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a class="socials__link" href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <p class="footer__copy">© 2023 Aviva Estate. Privacy policу.</p>
      <a class="company" href="https://razrabotka-saita.ru/" target="_blank">
        <span class="company__text">Website development</span>
        <img
          class="company__img"
          src="img/logo-company.png"
          alt="АдвансМедиа"
        />
      </a>
    </div>
  </div>
</footer>
