<section class="fsd">
  <div class="container">
    <h2 class="fsd__title">FOR SALE DETAILS</h2>

    <ul class="fsd__list">
      <li class="fsd__item">
        <div class="fsd__left">Photo Count</div>
        <div class="fsd__right">19</div>
      </li>
      <li class="fsd__item">
        <div class="fsd__left">Property Type</div>
        <div class="fsd__right">Land/Boat Docks</div>
      </li>
      <li class="fsd__item">
        <div class="fsd__left">SqFt Total</div>
        <div class="fsd__right">68250</div>
      </li>
      <li class="fsd__item">
        <div class="fsd__left">Terms Considered</div>
        <div class="fsd__right">All Cash</div>
      </li>
    </ul>
  </div>
</section>
