<div class="contacts-form">
  <div class="container">
    <div class="contacts-form__top">
      <img
        class="contacts-form__icon"
        src="img/messages.png"
        width="46"
        height="46"
        alt="img"
      />
      <div class="contacts-form__top-info">
        <span>INTERESTED IN THIS LISTING?</span>
        <p>Miami Residence will connect you with an agent in a short time.</p>
      </div>
    </div>

    <form class="form-contacts">
      <div class="form-contacts__inner">
        <div class="form-contacts__group">
          <label class="form-contacts__label">Your Name*</label>
          <input
            class="form-contacts__input"
            type="text"
            placeholder="First Name Last Name"
          />
        </div>
        <div class="form-contacts__group">
          <label class="form-contacts__label">Your Mail*</label>
          <input
            class="form-contacts__input"
            type="text"
            placeholder="name@mail.com"
          />
        </div>
        <div class="form-contacts__group">
          <label class="form-contacts__label">Your Phone*</label>
          <input
            class="form-contacts__input"
            type="text"
            placeholder="(000) 000 000 000"
          />
        </div>
        <button class="form-contacts__btn btn" type="button">
          SEND MESSAGE
        </button>
      </div>
    </form>
  </div>
</div>
