<header class="header">
  <!-- Mobile Menu -->
  <div class="overlay"></div>

  <div class="mobile-menu">
    <div class="mobile-menu__top">
      <a class="mobile-menu__logo logo" href="#">
        <img src="img/logo.png" alt="логотип" />
      </a>
      <form class="mobile-form-search">
        <div class="mobile-form-search__group">
          <svg class="mobile-form-search__icon">
            <use xlink:href="img/sprite.svg#search"></use>
          </svg>
          <input
            class="mobile-form-search__input"
            type="text"
            placeholder="Start typing for a quick property search"
          />
        </div>
      </form>
      <button
        class="mobile-menu__close"
        type="button"
        aria-label="Закрыть меню"
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M6 6L18 18"
            stroke="#f1ebda"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M18 6L6 18"
            stroke="#f1ebda"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>
    <div class="mobile-menu__head">
      <div class="flags">
        <ul class="flags__list">
          <li class="flags__item">
            <button class="flags__btn active" type="button">
              <img src="img/flags/usa.png" width="24" height="20" alt="usa" />
            </button>
          </li>
          <li class="flags__item">
            <button class="flags__btn" type="button">
              <img
                src="img/flags/china.png"
                width="24"
                height="20"
                alt="china"
              />
            </button>
          </li>
          <li class="flags__item">
            <button class="flags__btn" type="button">
              <img
                src="img/flags/spain.png"
                width="24"
                height="20"
                alt="spain"
              />
            </button>
          </li>
          <li class="flags__item">
            <button class="flags__btn" type="button">
              <img
                src="img/flags/russia.png"
                width="24"
                height="20"
                alt="russia"
              />
            </button>
          </li>
        </ul>
      </div>

      <ul class="socials">
        <li class="socials__item">
          <a class="socials__link" href="#" aria-label="whatsapp">
            <svg>
              <use xlink:href="img/sprite.svg#whatsapp"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a class="socials__link" href="#" aria-label="telegram">
            <svg>
              <use xlink:href="img/sprite.svg#telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="mobile-menu__menu menu">
      <ul class="menu__list">
        <li class="menu__item">
          <a class="menu__link" href="#"> Properties </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#"> communities </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#"> new developments </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#"> Commercial </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#"> EB-5 </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#"> News </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#"> contact</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Mobile Menu -->

  <div class="container">
    <div class="header__top">
      <div class="header__left">
        <button
          class="header__toggle header__toggle--mobile"
          type="button"
          aria-label="Open menu"
        >
          <span class="header__toggle-line"></span>
          <span class="header__toggle-line"></span>
          <span class="header__toggle-line"></span>
        </button>
        <a class="header__logo" href="#">
          <img src="img/logo.png" alt="logo" />
        </a>

        <button
          class="header__search-btn"
          type="button"
          aria-label="open search field"
        >
          <svg>
            <use xlink:href="img/sprite.svg#search"></use>
          </svg>
        </button>

        <form class="form-search">
          <div class="form-search__group">
            <svg class="form-search__icon">
              <use xlink:href="img/sprite.svg#search"></use>
            </svg>
            <input
              class="form-search__input"
              type="text"
              placeholder="Start typing for a quick property search"
            />
          </div>
        </form>
      </div>

      <div class="header__right">
        <a class="phone-block" href="tel:305.339.4265">
          <svg>
            <use xlink:href="img/sprite.svg#phone"></use>
          </svg>
          <div class="phone-block__info">
            <span>miami office</span>
            <span>305.339.4265</span>
          </div>
        </a>

        <div class="header__flags flags">
          <ul class="flags__list">
            <li class="flags__item">
              <button class="flags__btn active" type="button">
                <img src="img/flags/usa.png" width="24" height="20" alt="usa" />
              </button>
            </li>
            <li class="flags__item">
              <button class="flags__btn" type="button">
                <img
                  src="img/flags/china.png"
                  width="24"
                  height="20"
                  alt="china"
                />
              </button>
            </li>
            <li class="flags__item">
              <button class="flags__btn" type="button">
                <img
                  src="img/flags/spain.png"
                  width="24"
                  height="20"
                  alt="spain"
                />
              </button>
            </li>
            <li class="flags__item">
              <button class="flags__btn" type="button">
                <img
                  src="img/flags/russia.png"
                  width="24"
                  height="20"
                  alt="russia"
                />
              </button>
            </li>
          </ul>
        </div>

        <ul class="header__socials socials">
          <li class="socials__item">
            <a class="socials__link" href="#" aria-label="whatsapp">
              <svg>
                <use xlink:href="img/sprite.svg#tiktok"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="#" aria-label="whatsapp">
              <svg>
                <use xlink:href="img/sprite.svg#whatsapp"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="socials__link" href="#" aria-label="telegram">
              <svg>
                <use xlink:href="img/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <nav class="header__bottom">
      <div class="menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="#"> Properties </a>

            <div class="dropdown">
              <ul class="dropdown__list">
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">
                    Our Exclusive Listings
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M8.25 4.5l7.5 7.5-7.5 7.5"
                      />
                    </svg>
                  </a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">
                    Single Family Homes
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M8.25 4.5l7.5 7.5-7.5 7.5"
                      />
                    </svg>
                  </a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">
                    Miami Condos
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M8.25 4.5l7.5 7.5-7.5 7.5"
                      />
                    </svg>
                  </a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">
                    New Construction

                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M8.25 4.5l7.5 7.5-7.5 7.5"
                      />
                    </svg>
                  </a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">
                    Commercial Real Estate Miami

                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M8.25 4.5l7.5 7.5-7.5 7.5"
                      />
                    </svg>
                  </a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">
                    Miami Rentals
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M8.25 4.5l7.5 7.5-7.5 7.5"
                      />
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#"> communities </a>

            <div class="dropdown">
              <ul class="dropdown__list">
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">
                    Our Exclusive Listings
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M8.25 4.5l7.5 7.5-7.5 7.5"
                      />
                    </svg>
                  </a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">
                    Single Family Homes
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M8.25 4.5l7.5 7.5-7.5 7.5"
                      />
                    </svg>
                  </a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">
                    Miami Condos
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M8.25 4.5l7.5 7.5-7.5 7.5"
                      />
                    </svg>
                  </a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">
                    New Construction

                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M8.25 4.5l7.5 7.5-7.5 7.5"
                      />
                    </svg>
                  </a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">
                    Commercial Real Estate Miami

                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M8.25 4.5l7.5 7.5-7.5 7.5"
                      />
                    </svg>
                  </a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">
                    Miami Rentals
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M8.25 4.5l7.5 7.5-7.5 7.5"
                      />
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#"> new developments </a>

            <div class="dropdown">
              <ul class="dropdown__list">
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">
                    Our Exclusive Listings
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M8.25 4.5l7.5 7.5-7.5 7.5"
                      />
                    </svg>
                  </a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">
                    Single Family Homes
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M8.25 4.5l7.5 7.5-7.5 7.5"
                      />
                    </svg>
                  </a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">
                    Miami Condos
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M8.25 4.5l7.5 7.5-7.5 7.5"
                      />
                    </svg>
                  </a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">
                    New Construction

                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M8.25 4.5l7.5 7.5-7.5 7.5"
                      />
                    </svg>
                  </a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">
                    Commercial Real Estate Miami

                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M8.25 4.5l7.5 7.5-7.5 7.5"
                      />
                    </svg>
                  </a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">
                    Miami Rentals
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M8.25 4.5l7.5 7.5-7.5 7.5"
                      />
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#"> Commercial </a>
            <div class="dropdown">
              <ul class="dropdown__list">
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">
                    Our Exclusive Listings
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M8.25 4.5l7.5 7.5-7.5 7.5"
                      />
                    </svg>
                  </a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">
                    Single Family Homes
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M8.25 4.5l7.5 7.5-7.5 7.5"
                      />
                    </svg>
                  </a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">
                    Miami Condos
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M8.25 4.5l7.5 7.5-7.5 7.5"
                      />
                    </svg>
                  </a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">
                    New Construction

                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M8.25 4.5l7.5 7.5-7.5 7.5"
                      />
                    </svg>
                  </a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">
                    Commercial Real Estate Miami

                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M8.25 4.5l7.5 7.5-7.5 7.5"
                      />
                    </svg>
                  </a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">
                    Miami Rentals
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M8.25 4.5l7.5 7.5-7.5 7.5"
                      />
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#"> EB-5 </a>
            <div class="dropdown">
              <ul class="dropdown__list">
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">
                    Our Exclusive Listings
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M8.25 4.5l7.5 7.5-7.5 7.5"
                      />
                    </svg>
                  </a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">
                    Single Family Homes
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M8.25 4.5l7.5 7.5-7.5 7.5"
                      />
                    </svg>
                  </a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">
                    Miami Condos
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M8.25 4.5l7.5 7.5-7.5 7.5"
                      />
                    </svg>
                  </a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">
                    New Construction

                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M8.25 4.5l7.5 7.5-7.5 7.5"
                      />
                    </svg>
                  </a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">
                    Commercial Real Estate Miami

                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M8.25 4.5l7.5 7.5-7.5 7.5"
                      />
                    </svg>
                  </a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">
                    Miami Rentals
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M8.25 4.5l7.5 7.5-7.5 7.5"
                      />
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#"> News </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#"> contact</a>
          </li>
        </ul>
      </div>
      <button class="header__toggle" type="button" aria-label="Open menu">
        <span class="header__toggle-line"></span>
        <span class="header__toggle-line"></span>
        <span class="header__toggle-line"></span>
      </button>
    </nav>
  </div>
</header>
