<section class="hero" style="background-image: url(img/hero-bg.jpg)">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__offer">
        <h1 class="hero__title">Real estate in&nbsp;Miami</h1>
        <p class="hero__text">Ready-to-buy apartments, villas and townhouses</p>
      </div>
      <div class="hero__bottom">
        <a class="hero__find-on-map" href="#"> FIND ON MAP </a>
        <form class="hero__form form-filters">
          <div class="form-filters__inner">
            <div class="form-filters__wrap">
              <label
                class="form-filters__group form-filters__group--input-dropdown"
              >
                <input
                  class="form-filters__input"
                  type="text"
                  placeholder="City, address, zip"
                />
              </label>

              <div class="input-dropdown">
                <div class="input-dropdown__btns">
                  <button class="input-dropdown__btn" type="button">
                    <span>Aventura</span>
                    <small>City</small>
                  </button>
                  <button class="input-dropdown__btn" type="button">
                    <span> Bal Harbour </span>
                    <small>City</small>
                  </button>
                  <button class="input-dropdown__btn" type="button">
                    <span> Bay Harbour Islands </span>
                    <small>City</small>
                  </button>
                  <button class="input-dropdown__btn" type="button">
                    <span> Belle Glade </span>
                    <small>City</small>
                  </button>
                  <button class="input-dropdown__btn" type="button">
                    <span> Biscayne Gardens </span>
                    <small>City</small>
                  </button>
                  <button class="input-dropdown__btn" type="button">
                    <span> Biscayne Gardens </span>
                    <small>City</small>
                  </button>
                  <button class="input-dropdown__btn" type="button">
                    <span> Biscayne Gardens </span>
                    <small>City</small>
                  </button>
                  <button class="input-dropdown__btn" type="button">
                    <span> Biscayne Gardens </span>
                    <small>City</small>
                  </button>
                </div>
              </div>
            </div>
            <div class="form-filters__wrap">
              <label
                class="form-filters__group form-filters__group--price-block"
              >
                <select class="form-filters__select">
                  <option value="Price">Price</option>
                  <option value="Bed and Bath">Bed and Bath</option>
                  <option value="Price">Price</option>
                </select>
              </label>

              <div class="price-block">
                <div class="price-block__cols">
                  <div class="price-block__col">
                    <p class="price-block__name">Minimum</p>
                    <select class="price-block__select form-select">
                      <option value="no">No min</option>
                      <option value="500,000">$ 500,000</option>
                      <option value="500,000">$ 600,000</option>
                      <option value="500,000">$ 700,000</option>
                      <option value="500,000">$ 800,000</option>
                      <option value="500,000">$ 900,000</option>
                    </select>
                  </div>
                  <div class="price-block__col">
                    <p class="price-block__name">Maximum</p>
                    <select class="price-block__select form-select">
                      <option value="no">No max</option>
                      <option value="500,000">$ 500,000</option>
                      <option value="500,000">$ 600,000</option>
                      <option value="500,000">$ 700,000</option>
                      <option value="500,000">$ 800,000</option>
                      <option value="500,000">$ 900,000</option>
                    </select>
                  </div>
                </div>
                <button class="price-block__btn btn" type="button">
                  Apply
                </button>
              </div>
            </div>
            <div class="form-filters__wrap">
              <label
                class="form-filters__group form-filters__group--rooms-block"
              >
                <select class="form-filters__select">
                  <option value="Price">Bed and Bath</option>
                  <option value="Bed and Bath">Bed and Bath</option>
                  <option value="Price">Price</option>
                </select>
              </label>

              <div class="rooms-block">
                <div class="rooms-block__box">
                  <p class="rooms-block__heading">Number of Bedrooms</p>

                  <div class="rooms-block__wrap">
                    <p class="rooms-block__text">Bedrooms</p>

                    <div class="rooms-block__btns">
                      <label class="checkbox">
                        <input
                          class="checkbox__input"
                          type="checkbox"
                          checked
                        />
                        <span class="checkbox__box"></span>
                        <span class="checkbox__text"> Any </span>
                      </label>
                      <label class="checkbox">
                        <input class="checkbox__input" type="checkbox" />
                        <span class="checkbox__box"></span>
                        <span class="checkbox__text"> 1+ </span>
                      </label>
                      <label class="checkbox">
                        <input class="checkbox__input" type="checkbox" />
                        <span class="checkbox__box"></span>
                        <span class="checkbox__text"> 2+ </span>
                      </label>
                      <label class="checkbox">
                        <input class="checkbox__input" type="checkbox" />
                        <span class="checkbox__box"></span>
                        <span class="checkbox__text"> 3+ </span>
                      </label>
                      <label class="checkbox">
                        <input class="checkbox__input" type="checkbox" />
                        <span class="checkbox__box"></span>
                        <span class="checkbox__text"> 4+ </span>
                      </label>
                      <label class="checkbox">
                        <input class="checkbox__input" type="checkbox" />
                        <span class="checkbox__box"></span>
                        <span class="checkbox__text"> 5+ </span>
                      </label>
                    </div>

                    <label class="checkbox">
                      <input class="checkbox__input" type="checkbox" required />
                      <span class="checkbox__box"></span>
                      <span class="checkbox__text"> Use exactmatch </span>
                    </label>
                  </div>
                </div>
                <div class="rooms-block__box">
                  <p class="rooms-block__heading">Number of Bathrooms</p>

                  <div class="rooms-block__wrap">
                    <p class="rooms-block__text">Bedrooms</p>

                    <div class="rooms-block__btns">
                      <label class="checkbox">
                        <input
                          class="checkbox__input"
                          type="checkbox"
                          checked
                        />
                        <span class="checkbox__box"></span>
                        <span class="checkbox__text"> Any </span>
                      </label>
                      <label class="checkbox">
                        <input class="checkbox__input" type="checkbox" />
                        <span class="checkbox__box"></span>
                        <span class="checkbox__text"> 1+ </span>
                      </label>
                      <label class="checkbox">
                        <input class="checkbox__input" type="checkbox" />
                        <span class="checkbox__box"></span>
                        <span class="checkbox__text"> 2+ </span>
                      </label>
                      <label class="checkbox">
                        <input class="checkbox__input" type="checkbox" />
                        <span class="checkbox__box"></span>
                        <span class="checkbox__text"> 3+ </span>
                      </label>
                      <label class="checkbox">
                        <input class="checkbox__input" type="checkbox" />
                        <span class="checkbox__box"></span>
                        <span class="checkbox__text"> 4+ </span>
                      </label>
                      <label class="checkbox">
                        <input class="checkbox__input" type="checkbox" />
                        <span class="checkbox__box"></span>
                        <span class="checkbox__text"> 5+ </span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="form-filters__btn" type="button">
              <svg class="form-searchs__icon">
                <use xlink:href="img/sprite.svg#search"></use>
              </svg>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
