<section class="miami-estate">
  <div class="container">
    <div class="miami-estate__top">
      <h2 class="miami-estate__title">Miami Real Estate Insights</h2>
      <!-- <p>
        As a real estate investor, or someone who’s into the real estate
        business, one of the most effective ways to keep up with the latest news
        and strategies is to listen to other real estate investors’ experiences,
        challenges, mistakes, and successes.
      </p> -->
    </div>

    <ul class="miami-estate__list">
      <li class="miami-estate__item">
        <article class="estate-card">
          <button
            class="estate-card__play-btn"
            type="button"
            aria-label="play video"
            data-fancybox
            data-src="https://www.youtube.com/watch?v=Z0AXjUy1_gY"
            data-caption="How to buy real estate in dubai"
          >
            <svg>
              <use xlink:href="img/sprite.svg#play-button"></use>
            </svg>
          </button>
          <a class="estate-card__top" href="#">
            <img src="img/estates/1.jpg" alt="img" />
          </a>
          <div class="estate-card__body">
            <p class="estate-card__date">3 июн 2023</p>
            <h3 class="estate-card__title">
              <a href="#">How to buy real estate in dubai</a>
            </h3>
            <p class="estate-card__text">
              We are opening a new season of AX podcasts with an episode about
              the main stage of buying real estate in Dubai – consultation with
              an agent.
            </p>
          </div>
        </article>
      </li>
      <li class="miami-estate__item">
        <article class="estate-card">
          <button
            class="estate-card__play-btn"
            type="button"
            aria-label="play video"
            data-fancybox
            data-src="https://www.youtube.com/watch?v=Z0AXjUy1_gY"
            data-caption="How to buy real estate in dubai"
          >
            <svg>
              <use xlink:href="img/sprite.svg#play-button"></use>
            </svg>
          </button>
          <a class="estate-card__top" href="#">
            <img src="img/estates/2.jpg" alt="img" />
          </a>
          <div class="estate-card__body">
            <p class="estate-card__date">3 июн 2023</p>
            <h3 class="estate-card__title">
              <a href="#">How to buy real estate in dubai</a>
            </h3>
            <p class="estate-card__text">
              We are opening a new season of AX podcasts with an episode about
              the main stage of buying real estate in Dubai – consultation with
              an agent.
            </p>
          </div>
        </article>
      </li>
      <li class="miami-estate__item">
        <article class="estate-card">
          <button
            class="estate-card__play-btn"
            type="button"
            aria-label="play video"
            data-fancybox
            data-src="https://www.youtube.com/watch?v=Z0AXjUy1_gY"
            data-caption="How to buy real estate in dubai"
          >
            <svg>
              <use xlink:href="img/sprite.svg#play-button"></use>
            </svg>
          </button>
          <a class="estate-card__top" href="#">
            <img src="img/estates/3.jpg" alt="img" />
          </a>
          <div class="estate-card__body">
            <p class="estate-card__date">3 июн 2023</p>
            <h3 class="estate-card__title">
              <a href="#">How to buy real estate in dubai</a>
            </h3>
            <p class="estate-card__text">
              We are opening a new season of AX podcasts with an episode about
              the main stage of buying real estate in Dubai – consultation with
              an agent.
            </p>
          </div>
        </article>
      </li>
      <li class="miami-estate__item">
        <article class="estate-card">
          <button
            class="estate-card__play-btn"
            type="button"
            aria-label="play video"
            data-fancybox
            data-src="https://www.youtube.com/watch?v=Z0AXjUy1_gY"
            data-caption="How to buy real estate in dubai"
          >
            <svg>
              <use xlink:href="img/sprite.svg#play-button"></use>
            </svg>
          </button>
          <a class="estate-card__top" href="#">
            <img src="img/estates/4.jpg" alt="img" />
          </a>
          <div class="estate-card__body">
            <p class="estate-card__date">3 июн 2023</p>
            <h3 class="estate-card__title">
              <a href="#">How to buy real estate in dubai</a>
            </h3>
            <p class="estate-card__text">
              We are opening a new season of AX podcasts with an episode about
              the main stage of buying real estate in Dubai – consultation with
              an agent.
            </p>
          </div>
        </article>
      </li>
      <li class="miami-estate__item">
        <article class="estate-card">
          <button
            class="estate-card__play-btn"
            type="button"
            aria-label="play video"
            data-fancybox
            data-src="https://www.youtube.com/watch?v=Z0AXjUy1_gY"
            data-caption="How to buy real estate in dubai"
          >
            <svg>
              <use xlink:href="img/sprite.svg#play-button"></use>
            </svg>
          </button>
          <a class="estate-card__top" href="#">
            <img src="img/estates/5.jpg" alt="img" />
          </a>
          <div class="estate-card__body">
            <p class="estate-card__date">3 июн 2023</p>
            <h3 class="estate-card__title">
              <a href="#">How to buy real estate in dubai</a>
            </h3>
            <p class="estate-card__text">
              We are opening a new season of AX podcasts with an episode about
              the main stage of buying real estate in Dubai – consultation with
              an agent.
            </p>
          </div>
        </article>
      </li>
      <li class="miami-estate__item">
        <article class="estate-card">
          <button
            class="estate-card__play-btn"
            type="button"
            aria-label="play video"
            data-fancybox
            data-src="https://www.youtube.com/watch?v=Z0AXjUy1_gY"
            data-caption="How to buy real estate in dubai"
          >
            <svg>
              <use xlink:href="img/sprite.svg#play-button"></use>
            </svg>
          </button>
          <a class="estate-card__top" href="#">
            <img src="img/estates/6.jpg" alt="img" />
          </a>
          <div class="estate-card__body">
            <p class="estate-card__date">3 июн 2023</p>
            <h3 class="estate-card__title">
              <a href="#">How to buy real estate in dubai</a>
            </h3>
            <p class="estate-card__text">
              We are opening a new season of AX podcasts with an episode about
              the main stage of buying real estate in Dubai – consultation with
              an agent.
            </p>
          </div>
        </article>
      </li>
      <li class="miami-estate__item">
        <article class="estate-card">
          <button
            class="estate-card__play-btn"
            type="button"
            aria-label="play video"
            data-fancybox
            data-src="https://www.youtube.com/watch?v=Z0AXjUy1_gY"
            data-caption="How to buy real estate in dubai"
          >
            <svg>
              <use xlink:href="img/sprite.svg#play-button"></use>
            </svg>
          </button>
          <a class="estate-card__top" href="#">
            <img src="img/estates/1.jpg" alt="img" />
          </a>
          <div class="estate-card__body">
            <p class="estate-card__date">3 июн 2023</p>
            <h3 class="estate-card__title">
              <a href="#">How to buy real estate in dubai</a>
            </h3>
            <p class="estate-card__text">
              We are opening a new season of AX podcasts with an episode about
              the main stage of buying real estate in Dubai – consultation with
              an agent.
            </p>
          </div>
        </article>
      </li>
      <li class="miami-estate__item">
        <article class="estate-card">
          <button
            class="estate-card__play-btn"
            type="button"
            aria-label="play video"
            data-fancybox
            data-src="https://www.youtube.com/watch?v=Z0AXjUy1_gY"
            data-caption="How to buy real estate in dubai"
          >
            <svg>
              <use xlink:href="img/sprite.svg#play-button"></use>
            </svg>
          </button>
          <a class="estate-card__top" href="#">
            <img src="img/estates/2.jpg" alt="img" />
          </a>
          <div class="estate-card__body">
            <p class="estate-card__date">3 июн 2023</p>
            <h3 class="estate-card__title">
              <a href="#">How to buy real estate in dubai</a>
            </h3>
            <p class="estate-card__text">
              We are opening a new season of AX podcasts with an episode about
              the main stage of buying real estate in Dubai – consultation with
              an agent.
            </p>
          </div>
        </article>
      </li>
      <li class="miami-estate__item">
        <article class="estate-card">
          <button
            class="estate-card__play-btn"
            type="button"
            aria-label="play video"
            data-fancybox
            data-src="https://www.youtube.com/watch?v=Z0AXjUy1_gY"
            data-caption="How to buy real estate in dubai"
          >
            <svg>
              <use xlink:href="img/sprite.svg#play-button"></use>
            </svg>
          </button>
          <a class="estate-card__top" href="#">
            <img src="img/estates/3.jpg" alt="img" />
          </a>
          <div class="estate-card__body">
            <p class="estate-card__date">3 июн 2023</p>
            <h3 class="estate-card__title">
              <a href="#">How to buy real estate in dubai</a>
            </h3>
            <p class="estate-card__text">
              We are opening a new season of AX podcasts with an episode about
              the main stage of buying real estate in Dubai – consultation with
              an agent.
            </p>
          </div>
        </article>
      </li>
    </ul>

    <div class="pagination">
      <p class="pagination__text">Page 1 of 29</p>

      <ul class="pagination__list">
        <li class="pagination__item">
          <button class="pagination__btn" type="button">1</button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn" type="button">2</button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn" type="button">3</button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn" type="button">4</button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn" type="button">5</button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn" type="button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M8.25 4.5l7.5 7.5-7.5 7.5"
              />
            </svg>
          </button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn" type="button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5"
              />
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
