<section class="miami-condos">
  <div class="container">
    <h2 class="miami-condos__title">Miami condos</h2>

    <ul class="miami-condos__list">
      <li class="miami-condos__item">
        <article class="condos-card">
          <div class="condos-card__top">
            <img src="img/condos/1.jpg" alt="img" />
          </div>
          <div class="condos-card__body">
            <div class="condos-card__heading">
              <h3 class="condos-card__title">Aventura</h3>
            </div>
            <div class="condos-card__details">
              <div class="condos-card__detail">367 for sale</div>
              <div class="condos-card__detail">329 for Rent</div>
            </div>
          </div>

          <div class="card-info">
            <div class="card-info__title">Aventura</div>
            <div class="card-info__text">
              <p>Aventura condos for sale and rent.</p>
              <p>Luxury Aventura apartments.</p>
            </div>
            <div class="card-info__block card-info__block--blue">
              <span class="card-info__number">367</span>
              <div>
                <p>Condos for Sale</p>
                <p class="card-info__price">$ 50,000 - $ 9,995,000</p>
              </div>
            </div>
            <div class="card-info__block card-info__block--green">
              <span class="card-info__number">329</span>
              <div>
                <p>Condos for Rent</p>
                <p class="card-info__price">$ 1,985 - $ 28,000</p>
              </div>
            </div>
            <div class="card-info__text">
              <p>Average Sales Price: $ 926,127</p>
              <p>Average Price per ft2: $ 556</p>
            </div>

            <button class="card-info__btn" type="button">
              <svg>
                <use xlink:href="img/sprite.svg#search"></use>
              </svg>

              Start Your Search
            </button>
          </div>
        </article>
      </li>
      <li class="miami-condos__item">
        <article class="condos-card">
          <div class="condos-card__top">
            <img src="img/condos/2.jpg" alt="img" />
          </div>
          <div class="condos-card__body">
            <div class="condos-card__heading">
              <h3 class="condos-card__title">Aventura</h3>
            </div>
            <div class="condos-card__details">
              <div class="condos-card__detail">367 for sale</div>
              <div class="condos-card__detail">329 for Rent</div>
            </div>
          </div>

          <div class="card-info">
            <div class="card-info__title">Aventura</div>
            <div class="card-info__text">
              <p>Aventura condos for sale and rent.</p>
              <p>Luxury Aventura apartments.</p>
            </div>
            <div class="card-info__block card-info__block--blue">
              <span class="card-info__number">367</span>
              <div>
                <p>Condos for Sale</p>
                <p class="card-info__price">$ 50,000 - $ 9,995,000</p>
              </div>
            </div>
            <div class="card-info__block card-info__block--green">
              <span class="card-info__number">329</span>
              <div>
                <p>Condos for Rent</p>
                <p class="card-info__price">$ 1,985 - $ 28,000</p>
              </div>
            </div>
            <div class="card-info__text">
              <p>Average Sales Price: $ 926,127</p>
              <p>Average Price per ft2: $ 556</p>
            </div>

            <button class="card-info__btn" type="button">
              <svg>
                <use xlink:href="img/sprite.svg#search"></use>
              </svg>

              Start Your Search
            </button>
          </div>
        </article>
      </li>
      <li class="miami-condos__item">
        <article class="condos-card">
          <div class="condos-card__top">
            <img src="img/condos/3.jpg" alt="img" />
          </div>
          <div class="condos-card__body">
            <div class="condos-card__heading">
              <h3 class="condos-card__title">Aventura</h3>
            </div>
            <div class="condos-card__details">
              <div class="condos-card__detail">367 for sale</div>
              <div class="condos-card__detail">329 for Rent</div>
            </div>
          </div>

          <div class="card-info">
            <div class="card-info__title">Aventura</div>
            <div class="card-info__text">
              <p>Aventura condos for sale and rent.</p>
              <p>Luxury Aventura apartments.</p>
            </div>
            <div class="card-info__block card-info__block--blue">
              <span class="card-info__number">367</span>
              <div>
                <p>Condos for Sale</p>
                <p class="card-info__price">$ 50,000 - $ 9,995,000</p>
              </div>
            </div>
            <div class="card-info__block card-info__block--green">
              <span class="card-info__number">329</span>
              <div>
                <p>Condos for Rent</p>
                <p class="card-info__price">$ 1,985 - $ 28,000</p>
              </div>
            </div>
            <div class="card-info__text">
              <p>Average Sales Price: $ 926,127</p>
              <p>Average Price per ft2: $ 556</p>
            </div>

            <button class="card-info__btn" type="button">
              <svg>
                <use xlink:href="img/sprite.svg#search"></use>
              </svg>

              Start Your Search
            </button>
          </div>
        </article>
      </li>
      <li class="miami-condos__item">
        <article class="condos-card">
          <div class="condos-card__top">
            <img src="img/condos/4.jpg" alt="img" />
          </div>
          <div class="condos-card__body">
            <div class="condos-card__heading">
              <h3 class="condos-card__title">Aventura</h3>
            </div>
            <div class="condos-card__details">
              <div class="condos-card__detail">367 for sale</div>
              <div class="condos-card__detail">329 for Rent</div>
            </div>
          </div>

          <div class="card-info">
            <div class="card-info__title">Aventura</div>
            <div class="card-info__text">
              <p>Aventura condos for sale and rent.</p>
              <p>Luxury Aventura apartments.</p>
            </div>
            <div class="card-info__block card-info__block--blue">
              <span class="card-info__number">367</span>
              <div>
                <p>Condos for Sale</p>
                <p class="card-info__price">$ 50,000 - $ 9,995,000</p>
              </div>
            </div>
            <div class="card-info__block card-info__block--green">
              <span class="card-info__number">329</span>
              <div>
                <p>Condos for Rent</p>
                <p class="card-info__price">$ 1,985 - $ 28,000</p>
              </div>
            </div>
            <div class="card-info__text">
              <p>Average Sales Price: $ 926,127</p>
              <p>Average Price per ft2: $ 556</p>
            </div>

            <button class="card-info__btn" type="button">
              <svg>
                <use xlink:href="img/sprite.svg#search"></use>
              </svg>

              Start Your Search
            </button>
          </div>
        </article>
      </li>
      <li class="miami-condos__item">
        <article class="condos-card">
          <div class="condos-card__top">
            <img src="img/condos/5.jpg" alt="img" />
          </div>
          <div class="condos-card__body">
            <div class="condos-card__heading">
              <h3 class="condos-card__title">Aventura</h3>
            </div>
            <div class="condos-card__details">
              <div class="condos-card__detail">367 for sale</div>
              <div class="condos-card__detail">329 for Rent</div>
            </div>
          </div>

          <div class="card-info">
            <div class="card-info__title">Aventura</div>
            <div class="card-info__text">
              <p>Aventura condos for sale and rent.</p>
              <p>Luxury Aventura apartments.</p>
            </div>
            <div class="card-info__block card-info__block--blue">
              <span class="card-info__number">367</span>
              <div>
                <p>Condos for Sale</p>
                <p class="card-info__price">$ 50,000 - $ 9,995,000</p>
              </div>
            </div>
            <div class="card-info__block card-info__block--green">
              <span class="card-info__number">329</span>
              <div>
                <p>Condos for Rent</p>
                <p class="card-info__price">$ 1,985 - $ 28,000</p>
              </div>
            </div>
            <div class="card-info__text">
              <p>Average Sales Price: $ 926,127</p>
              <p>Average Price per ft2: $ 556</p>
            </div>

            <button class="card-info__btn" type="button">
              <svg>
                <use xlink:href="img/sprite.svg#search"></use>
              </svg>

              Start Your Search
            </button>
          </div>
        </article>
      </li>
      <li class="miami-condos__item">
        <article class="condos-card">
          <div class="condos-card__top">
            <img src="img/condos/6.jpg" alt="img" />
          </div>
          <div class="condos-card__body">
            <div class="condos-card__heading">
              <h3 class="condos-card__title">Aventura</h3>
            </div>
            <div class="condos-card__details">
              <div class="condos-card__detail">367 for sale</div>
              <div class="condos-card__detail">329 for Rent</div>
            </div>
          </div>

          <div class="card-info">
            <div class="card-info__title">Aventura</div>
            <div class="card-info__text">
              <p>Aventura condos for sale and rent.</p>
              <p>Luxury Aventura apartments.</p>
            </div>
            <div class="card-info__block card-info__block--blue">
              <span class="card-info__number">367</span>
              <div>
                <p>Condos for Sale</p>
                <p class="card-info__price">$ 50,000 - $ 9,995,000</p>
              </div>
            </div>
            <div class="card-info__block card-info__block--green">
              <span class="card-info__number">329</span>
              <div>
                <p>Condos for Rent</p>
                <p class="card-info__price">$ 1,985 - $ 28,000</p>
              </div>
            </div>
            <div class="card-info__text">
              <p>Average Sales Price: $ 926,127</p>
              <p>Average Price per ft2: $ 556</p>
            </div>

            <button class="card-info__btn" type="button">
              <svg>
                <use xlink:href="img/sprite.svg#search"></use>
              </svg>

              Start Your Search
            </button>
          </div>
        </article>
      </li>
      <li class="miami-condos__item">
        <article class="condos-card">
          <div class="condos-card__top">
            <img src="img/condos/1.jpg" alt="img" />
          </div>
          <div class="condos-card__body">
            <div class="condos-card__heading">
              <h3 class="condos-card__title">Aventura</h3>
            </div>
            <div class="condos-card__details">
              <div class="condos-card__detail">367 for sale</div>
              <div class="condos-card__detail">329 for Rent</div>
            </div>
          </div>

          <div class="card-info">
            <div class="card-info__title">Aventura</div>
            <div class="card-info__text">
              <p>Aventura condos for sale and rent.</p>
              <p>Luxury Aventura apartments.</p>
            </div>
            <div class="card-info__block card-info__block--blue">
              <span class="card-info__number">367</span>
              <div>
                <p>Condos for Sale</p>
                <p class="card-info__price">$ 50,000 - $ 9,995,000</p>
              </div>
            </div>
            <div class="card-info__block card-info__block--green">
              <span class="card-info__number">329</span>
              <div>
                <p>Condos for Rent</p>
                <p class="card-info__price">$ 1,985 - $ 28,000</p>
              </div>
            </div>
            <div class="card-info__text">
              <p>Average Sales Price: $ 926,127</p>
              <p>Average Price per ft2: $ 556</p>
            </div>

            <button class="card-info__btn" type="button">
              <svg>
                <use xlink:href="img/sprite.svg#search"></use>
              </svg>

              Start Your Search
            </button>
          </div>
        </article>
      </li>
      <li class="miami-condos__item">
        <article class="condos-card">
          <div class="condos-card__top">
            <img src="img/condos/2.jpg" alt="img" />
          </div>
          <div class="condos-card__body">
            <div class="condos-card__heading">
              <h3 class="condos-card__title">Aventura</h3>
            </div>
            <div class="condos-card__details">
              <div class="condos-card__detail">367 for sale</div>
              <div class="condos-card__detail">329 for Rent</div>
            </div>
          </div>

          <div class="card-info">
            <div class="card-info__title">Aventura</div>
            <div class="card-info__text">
              <p>Aventura condos for sale and rent.</p>
              <p>Luxury Aventura apartments.</p>
            </div>
            <div class="card-info__block card-info__block--blue">
              <span class="card-info__number">367</span>
              <div>
                <p>Condos for Sale</p>
                <p class="card-info__price">$ 50,000 - $ 9,995,000</p>
              </div>
            </div>
            <div class="card-info__block card-info__block--green">
              <span class="card-info__number">329</span>
              <div>
                <p>Condos for Rent</p>
                <p class="card-info__price">$ 1,985 - $ 28,000</p>
              </div>
            </div>
            <div class="card-info__text">
              <p>Average Sales Price: $ 926,127</p>
              <p>Average Price per ft2: $ 556</p>
            </div>

            <button class="card-info__btn" type="button">
              <svg>
                <use xlink:href="img/sprite.svg#search"></use>
              </svg>

              Start Your Search
            </button>
          </div>
        </article>
      </li>
      <li class="miami-condos__item">
        <article class="condos-card">
          <div class="condos-card__top">
            <img src="img/condos/3.jpg" alt="img" />
          </div>
          <div class="condos-card__body">
            <div class="condos-card__heading">
              <h3 class="condos-card__title">Aventura</h3>
            </div>
            <div class="condos-card__details">
              <div class="condos-card__detail">367 for sale</div>
              <div class="condos-card__detail">329 for Rent</div>
            </div>
          </div>

          <div class="card-info">
            <div class="card-info__title">Aventura</div>
            <div class="card-info__text">
              <p>Aventura condos for sale and rent.</p>
              <p>Luxury Aventura apartments.</p>
            </div>
            <div class="card-info__block card-info__block--blue">
              <span class="card-info__number">367</span>
              <div>
                <p>Condos for Sale</p>
                <p class="card-info__price">$ 50,000 - $ 9,995,000</p>
              </div>
            </div>
            <div class="card-info__block card-info__block--green">
              <span class="card-info__number">329</span>
              <div>
                <p>Condos for Rent</p>
                <p class="card-info__price">$ 1,985 - $ 28,000</p>
              </div>
            </div>
            <div class="card-info__text">
              <p>Average Sales Price: $ 926,127</p>
              <p>Average Price per ft2: $ 556</p>
            </div>

            <button class="card-info__btn" type="button">
              <svg>
                <use xlink:href="img/sprite.svg#search"></use>
              </svg>

              Start Your Search
            </button>
          </div>
        </article>
      </li>
      <li class="miami-condos__item">
        <article class="condos-card">
          <div class="condos-card__top">
            <img src="img/condos/4.jpg" alt="img" />
          </div>
          <div class="condos-card__body">
            <div class="condos-card__heading">
              <h3 class="condos-card__title">Aventura</h3>
            </div>
            <div class="condos-card__details">
              <div class="condos-card__detail">367 for sale</div>
              <div class="condos-card__detail">329 for Rent</div>
            </div>
          </div>

          <div class="card-info">
            <div class="card-info__title">Aventura</div>
            <div class="card-info__text">
              <p>Aventura condos for sale and rent.</p>
              <p>Luxury Aventura apartments.</p>
            </div>
            <div class="card-info__block card-info__block--blue">
              <span class="card-info__number">367</span>
              <div>
                <p>Condos for Sale</p>
                <p class="card-info__price">$ 50,000 - $ 9,995,000</p>
              </div>
            </div>
            <div class="card-info__block card-info__block--green">
              <span class="card-info__number">329</span>
              <div>
                <p>Condos for Rent</p>
                <p class="card-info__price">$ 1,985 - $ 28,000</p>
              </div>
            </div>
            <div class="card-info__text">
              <p>Average Sales Price: $ 926,127</p>
              <p>Average Price per ft2: $ 556</p>
            </div>

            <button class="card-info__btn" type="button">
              <svg>
                <use xlink:href="img/sprite.svg#search"></use>
              </svg>

              Start Your Search
            </button>
          </div>
        </article>
      </li>
      <li class="miami-condos__item">
        <article class="condos-card">
          <div class="condos-card__top">
            <img src="img/condos/5.jpg" alt="img" />
          </div>
          <div class="condos-card__body">
            <div class="condos-card__heading">
              <h3 class="condos-card__title">Aventura</h3>
            </div>
            <div class="condos-card__details">
              <div class="condos-card__detail">367 for sale</div>
              <div class="condos-card__detail">329 for Rent</div>
            </div>
          </div>

          <div class="card-info">
            <div class="card-info__title">Aventura</div>
            <div class="card-info__text">
              <p>Aventura condos for sale and rent.</p>
              <p>Luxury Aventura apartments.</p>
            </div>
            <div class="card-info__block card-info__block--blue">
              <span class="card-info__number">367</span>
              <div>
                <p>Condos for Sale</p>
                <p class="card-info__price">$ 50,000 - $ 9,995,000</p>
              </div>
            </div>
            <div class="card-info__block card-info__block--green">
              <span class="card-info__number">329</span>
              <div>
                <p>Condos for Rent</p>
                <p class="card-info__price">$ 1,985 - $ 28,000</p>
              </div>
            </div>
            <div class="card-info__text">
              <p>Average Sales Price: $ 926,127</p>
              <p>Average Price per ft2: $ 556</p>
            </div>

            <button class="card-info__btn" type="button">
              <svg>
                <use xlink:href="img/sprite.svg#search"></use>
              </svg>

              Start Your Search
            </button>
          </div>
        </article>
      </li>
      <li class="miami-condos__item">
        <article class="condos-card">
          <div class="condos-card__top">
            <img src="img/condos/6.jpg" alt="img" />
          </div>
          <div class="condos-card__body">
            <div class="condos-card__heading">
              <h3 class="condos-card__title">Aventura</h3>
            </div>
            <div class="condos-card__details">
              <div class="condos-card__detail">367 for sale</div>
              <div class="condos-card__detail">329 for Rent</div>
            </div>
          </div>

          <div class="card-info">
            <div class="card-info__title">Aventura</div>
            <div class="card-info__text">
              <p>Aventura condos for sale and rent.</p>
              <p>Luxury Aventura apartments.</p>
            </div>
            <div class="card-info__block card-info__block--blue">
              <span class="card-info__number">367</span>
              <div>
                <p>Condos for Sale</p>
                <p class="card-info__price">$ 50,000 - $ 9,995,000</p>
              </div>
            </div>
            <div class="card-info__block card-info__block--green">
              <span class="card-info__number">329</span>
              <div>
                <p>Condos for Rent</p>
                <p class="card-info__price">$ 1,985 - $ 28,000</p>
              </div>
            </div>
            <div class="card-info__text">
              <p>Average Sales Price: $ 926,127</p>
              <p>Average Price per ft2: $ 556</p>
            </div>

            <button class="card-info__btn" type="button">
              <svg>
                <use xlink:href="img/sprite.svg#search"></use>
              </svg>

              Start Your Search
            </button>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
