<section class="neighborhood-descr">
  <div class="container">
    <h2 class="neighborhood-descr__title">
      Neighborhood Description for Aventura Real Estate
    </h2>
    <div class="neighborhood-descr__text">
      <p>
        Aventura is a suburb of Miami, located in the northeast of Miami-Dade
        County, west of Sunny Isles Beach and Golden Beach. The city is most
        famous for the Aventura Mall. This 2,400,000 sq ft (222,967 m2) indoor
        shopping center is ranked as the second most visited mall in the US with
        28 million visitors a year.
      </p>
      <p>
        Aventura is also has its own exclusive parks and recreation department,
        which operate Founders Park, Founders Park Bayside, Waterways Park,
        Waterways Dog Park, Veterans Park, The Community Recreation Center, and
        the new Liberal Arts theater. In the center of the heart of Aventura is
        The Turnberry Golf Course encapsulated by Aventura’s Country Club Drive
        Circle, a multi-million dollar horticultural three-mile walking/jogging
        paved promenade, which overlooks lakes, opulent residential high rises,
        yachts and the Atlantic Ocean.
      </p>
    </div>
  </div>
</section>
