<section class="news">
  <div class="container">
    <div class="news__heading section-heading">News</div>
    <div class="news__top">
      <h2 class="news__title section-title">Real Estate <span>News</span></h2>
      <div class="news__arrows arrows">
        <button class="swiper-button-prev" type="button" aria-label="prev">
          <svg>
            <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </button>
        <button class="swiper-button-next" type="button" aria-label="next">
          <svg>
            <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
      <a class="news__btn btn btn--arrow" href="#">
        all news
        <svg>
          <use xlink:href="img/sprite.svg#arrow-right"></use>
        </svg>
      </a>
    </div>
  </div>

  <div class="container container--mobile-none">
    <div class="news__slider swiper">
      <ul class="news__slides swiper-wrapper">
        <li class="news__slide swiper-slide">
          <di class="news-card">
            <div class="news-card__top">
              <picture>
                <source srcset="img/news/3.webp" type="image/webp" />
                <img src="img/news/3.jpg" width="280" height="225" alt="img" />
              </picture>

              <div class="news-card__date">
                <img src="img/calendar-icon.png" alt="calendar" />
                <p>14.04.2023</p>
              </div>
            </div>
            <div class="news-card__body">
              <h3 class="news-card__title">
                <a href="#">
                  FLORIDA RANKED SECOND IN&nbsp;THE LIST OF&nbsp;BEST
                  US&nbsp;STATES TO&nbsp;CREATE A&nbsp;NEW BUSINESS
                </a>
              </h3>
            </div>
          </di>
        </li>
        <li class="news__slide swiper-slide">
          <di class="news-card">
            <div class="news-card__top">
              <picture>
                <source srcset="img/news/2.webp" type="image/webp" />
                <img src="img/news/2.jpg" width="280" height="225" alt="img" />
              </picture>

              <div class="news-card__date">
                <img src="img/calendar-icon.png" alt="calendar" />
                <p>14.04.2023</p>
              </div>
            </div>
            <div class="news-card__body">
              <h3 class="news-card__title">
                <a href="#">
                  VOLUME OF NEW RESIDENTIAL CONSTRUCTION IN FLORIDA IS AMONG THE
                  GREATEST IN THE USA
                </a>
              </h3>
            </div>
          </di>
        </li>
        <li class="news__slide swiper-slide">
          <di class="news-card">
            <div class="news-card__top">
              <picture>
                <source srcset="img/news/3.webp" type="image/webp" />
                <img src="img/news/3.jpg" width="280" height="225" alt="img" />
              </picture>

              <div class="news-card__date">
                <img src="img/calendar-icon.png" alt="calendar" />
                <p>14.04.2023</p>
              </div>
            </div>
            <div class="news-card__body">
              <h3 class="news-card__title">
                <a href="#">
                  A MANSION WITH UNIQUE ARCHITECTURE IS LISTED FOR SALE IN
                  SARASOTA, FLORIDA, FOR $10 MILLION
                </a>
              </h3>
            </div>
          </di>
        </li>
        <li class="news__slide swiper-slide">
          <di class="news-card">
            <div class="news-card__top">
              <picture>
                <source srcset="img/news/4.webp" type="image/webp" />
                <img src="img/news/4.jpg" width="280" height="225" alt="img" />
              </picture>

              <div class="news-card__date">
                <img src="img/calendar-icon.png" alt="calendar" />
                <p>14.04.2023</p>
              </div>
            </div>
            <div class="news-card__body">
              <h3 class="news-card__title">
                <a href="#">
                  HIGH-END PROPERTY MARKET IN SOUTH FLORIDA RETURNED TO NORMAL
                  IN 2022
                </a>
              </h3>
            </div>
          </di>
        </li>
        <li class="news__slide swiper-slide">
          <di class="news-card">
            <div class="news-card__top">
              <picture>
                <source srcset="img/news/3.webp" type="image/webp" />
                <img src="img/news/3.jpg" width="280" height="225" alt="img" />
              </picture>

              <div class="news-card__date">
                <img src="img/calendar-icon.png" alt="calendar" />
                <p>14.04.2023</p>
              </div>
            </div>
            <div class="news-card__body">
              <h3 class="news-card__title">
                <a href="#">
                  FLORIDA RANKED SECOND IN&nbsp;THE LIST OF&nbsp;BEST
                  US&nbsp;STATES TO&nbsp;CREATE A&nbsp;NEW BUSINESS
                </a>
              </h3>
            </div>
          </di>
        </li>
        <li class="news__slide swiper-slide">
          <di class="news-card">
            <div class="news-card__top">
              <picture>
                <source srcset="img/news/2.webp" type="image/webp" />
                <img src="img/news/2.jpg" width="280" height="225" alt="img" />
              </picture>

              <div class="news-card__date">
                <img src="img/calendar-icon.png" alt="calendar" />
                <p>14.04.2023</p>
              </div>
            </div>
            <div class="news-card__body">
              <h3 class="news-card__title">
                <a href="#">
                  VOLUME OF NEW RESIDENTIAL CONSTRUCTION IN FLORIDA IS AMONG THE
                  GREATEST IN THE USA
                </a>
              </h3>
            </div>
          </di>
        </li>
        <li class="news__slide swiper-slide">
          <di class="news-card">
            <div class="news-card__top">
              <picture>
                <source srcset="img/news/3.webp" type="image/webp" />
                <img src="img/news/3.jpg" width="280" height="225" alt="img" />
              </picture>

              <div class="news-card__date">
                <img src="img/calendar-icon.png" alt="calendar" />
                <p>14.04.2023</p>
              </div>
            </div>
            <div class="news-card__body">
              <h3 class="news-card__title">
                <a href="#">
                  A MANSION WITH UNIQUE ARCHITECTURE IS LISTED FOR SALE IN
                  SARASOTA, FLORIDA, FOR $10 MILLION
                </a>
              </h3>
            </div>
          </di>
        </li>
        <li class="news__slide swiper-slide">
          <di class="news-card">
            <div class="news-card__top">
              <picture>
                <source srcset="img/news/4.webp" type="image/webp" />
                <img src="img/news/4.jpg" width="280" height="225" alt="img" />
              </picture>

              <div class="news-card__date">
                <img src="img/calendar-icon.png" alt="calendar" />
                <p>14.04.2023</p>
              </div>
            </div>
            <div class="news-card__body">
              <h3 class="news-card__title">
                <a href="#">
                  HIGH-END PROPERTY MARKET IN SOUTH FLORIDA RETURNED TO NORMAL
                  IN 2022
                </a>
              </h3>
            </div>
          </di>
        </li>
      </ul>
    </div>
    <a class="news__btn news__btn--mobile btn btn--arrow" href="#">
      all news
      <svg>
        <use xlink:href="img/sprite.svg#arrow-right"></use>
      </svg>
    </a>
  </div>
</section>
