<section class="new-dev">
  <div class="container">
    <div class="new-dev__wrapper">
      <div class="new-dev__top">
        <div class="new-dev__left">
          <h1 class="new-dev__title">
            Want to be the first person to live in your condo?
          </h1>
          <div class="new-dev__text">
            <p>
              Want to appreciate brand new appliances, top of the line
              cabinetry? Discover an extensive list of pre-construction condos
              in Miami set for completion between 2023 and 2026 in our ultimate
              guide!
            </p>
            <p>
              Save up to 20% on your new Miami condo through pre-construction
              projects. Secure a bank loan for construction, reduce the initial
              loan amount with purchaser deposits, and enjoy significant
              financing savings.
            </p>
          </div>
        </div>
        <div class="new-dev__img">
          <img src="img/new-developments-img.jpg" alt="img" />
        </div>
      </div>

      <ul class="new-dev__list">
        <li class="new-dev-item">
          <img
            class="new-dev-item__img"
            src="img/quote-request.png"
            width="50"
            height="60"
            alt="img"
          />
          <div class="new-dev-item__info">
            <span class="new-dev-item__title">Price List</span>
            <a class="new-dev-item__btn btn" href="#">View Price List</a>
          </div>
        </li>
        <li class="new-dev-item">
          <img
            class="new-dev-item__img"
            src="img/quote-request.png"
            width="50"
            height="60"
            alt="img"
          />
          <div class="new-dev-item__info">
            <span class="new-dev-item__title">Condo Rankings</span>
            <a class="new-dev-item__btn btn" href="#">View Condo Rankings</a>
          </div>
        </li>
        <li class="new-dev-item">
          <img
            class="new-dev-item__img"
            src="img/quote-request.png"
            width="50"
            height="60"
            alt="img"
          />
          <div class="new-dev-item__info">
            <span class="new-dev-item__title">More information</span>
            <a class="new-dev-item__btn btn" href="#">Request</a>
          </div>
        </li>
      </ul>
    </div>

    <div class="block-params">
      <div class="block-params__filters">
        <form class="form-filters">
          <div class="form-filters__inner">
            <label
              class="form-filters__group form-filters__group--search-field"
            >
              <input
                class="form-filters__input"
                type="text"
                placeholder="City, address, zip"
              />
              <button class="form-filters__btn" type="button">
                <svg class="form-search__icon">
                  <use xlink:href="img/sprite.svg#search"></use>
                </svg>
              </button>
            </label>

            <label class="form-filters_group">
              <select class="form-filters__select">
                <option value="Price">Condos by Name</option>
                <option value="Bed and Bath">Condos by Name</option>
                <option value="Price">Condos by Name</option>
              </select>
            </label>
            <label class="form-filters__group">
              <select class="form-filters__select">
                <option value="Price">All Neighborhoods</option>
                <option value="Bed and Bath">All Neighborhoods</option>
                <option value="Price">All Neighborhoods</option>
              </select>
            </label>
            <button class="form-filters__btn-action btn-grid" type="button">
              Grid
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                  d="M14 10V14H10V10H14ZM16 10H21V14H16V10ZM14 21H10V16H14V21ZM16 21V16H21V20C21 20.5523 20.5523 21 20 21H16ZM14 3V8H10V3H14ZM16 3H20C20.5523 3 21 3.44772 21 4V8H16V3ZM8 10V14H3V10H8ZM8 21H4C3.44772 21 3 20.5523 3 20V16H8V21ZM8 3V8H3V4C3 3.44772 3.44772 3 4 3H8Z"
                ></path>
              </svg>
            </button>
            <button class="form-filters__btn-action btn-list" type="button">
              List
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                  d="M3 4H21V6H3V4ZM3 11H21V13H3V11ZM3 18H21V20H3V18Z"
                ></path>
              </svg>
            </button>
            <button class="form-filters__btn-action" type="button">
              Map
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                  d="M12 20.8995L16.9497 15.9497C19.6834 13.2161 19.6834 8.78392 16.9497 6.05025C14.2161 3.31658 9.78392 3.31658 7.05025 6.05025C4.31658 8.78392 4.31658 13.2161 7.05025 15.9497L12 20.8995ZM12 23.7279L5.63604 17.364C2.12132 13.8492 2.12132 8.15076 5.63604 4.63604C9.15076 1.12132 14.8492 1.12132 18.364 4.63604C21.8787 8.15076 21.8787 13.8492 18.364 17.364L12 23.7279ZM12 13C13.1046 13 14 12.1046 14 11C14 9.89543 13.1046 9 12 9C10.8954 9 10 9.89543 10 11C10 12.1046 10.8954 13 12 13ZM12 15C9.79086 15 8 13.2091 8 11C8 8.79086 9.79086 7 12 7C14.2091 7 16 8.79086 16 11C16 13.2091 14.2091 15 12 15Z"
                ></path>
              </svg>
            </button>
          </div>
        </form>
      </div>
      <div class="block-params__wrapper">
        <div class="block-params__map map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d114964.39567869062!2d-80.31185933089962!3d25.782538872285397!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b0a20ec8c111%3A0xff96f271ddad4f65!2z0JzQsNC50LDQvNC4LCDQpNC70L7RgNC40LTQsCwg0KHQqNCQ!5e0!3m2!1sru!2sru!4v1695819494115!5m2!1sru!2sru"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
        <div class="block-params__content">
          <h2 class="block-params__title">
            Top 10 new condos in Miami that you don't want to miss:
          </h2>
          <div class="block-params__inner">
            <ul class="block-params__list">
              <li class="block-params__item">
                <article class="properties-row">
                  <a class="properties-row__link" href="#"></a>
                  <img
                    class="properties-row__img"
                    src="img/properties/1.jpg"
                    width="105"
                    height="85"
                    alt="img"
                  />
                  <div class="properties-row__info">
                    <h3 class="properties-row__title">La Baia Bay Harbor</h3>
                    <p class="properties-row__text">9201 E BAY HARBOR DRIVE</p>
                  </div>
                </article>
              </li>
              <li class="block-params__item">
                <article class="properties-row">
                  <a class="properties-row__link" href="#"></a>
                  <img
                    class="properties-row__img"
                    src="img/properties/1.jpg"
                    width="105"
                    height="85"
                    alt="img"
                  />
                  <div class="properties-row__info">
                    <h3 class="properties-row__title">La Baia Bay Harbor</h3>
                    <p class="properties-row__text">9201 E BAY HARBOR DRIVE</p>
                  </div>
                </article>
              </li>
              <li class="block-params__item">
                <article class="properties-row">
                  <a class="properties-row__link" href="#"></a>
                  <img
                    class="properties-row__img"
                    src="img/properties/1.jpg"
                    width="105"
                    height="85"
                    alt="img"
                  />
                  <div class="properties-row__info">
                    <h3 class="properties-row__title">La Baia Bay Harbor</h3>
                    <p class="properties-row__text">9201 E BAY HARBOR DRIVE</p>
                  </div>
                </article>
              </li>
              <li class="block-params__item">
                <article class="properties-row">
                  <a class="properties-row__link" href="#"></a>
                  <img
                    class="properties-row__img"
                    src="img/properties/1.jpg"
                    width="105"
                    height="85"
                    alt="img"
                  />
                  <div class="properties-row__info">
                    <h3 class="properties-row__title">La Baia Bay Harbor</h3>
                    <p class="properties-row__text">9201 E BAY HARBOR DRIVE</p>
                  </div>
                </article>
              </li>
              <li class="block-params__item">
                <article class="properties-row">
                  <a class="properties-row__link" href="#"></a>
                  <img
                    class="properties-row__img"
                    src="img/properties/1.jpg"
                    width="105"
                    height="85"
                    alt="img"
                  />
                  <div class="properties-row__info">
                    <h3 class="properties-row__title">La Baia Bay Harbor</h3>
                    <p class="properties-row__text">9201 E BAY HARBOR DRIVE</p>
                  </div>
                </article>
              </li>
              <li class="block-params__item">
                <article class="properties-row">
                  <a class="properties-row__link" href="#"></a>
                  <img
                    class="properties-row__img"
                    src="img/properties/1.jpg"
                    width="105"
                    height="85"
                    alt="img"
                  />
                  <div class="properties-row__info">
                    <h3 class="properties-row__title">La Baia Bay Harbor</h3>
                    <p class="properties-row__text">9201 E BAY HARBOR DRIVE</p>
                  </div>
                </article>
              </li>
              <li class="block-params__item">
                <article class="properties-row">
                  <a class="properties-row__link" href="#"></a>
                  <img
                    class="properties-row__img"
                    src="img/properties/1.jpg"
                    width="105"
                    height="85"
                    alt="img"
                  />
                  <div class="properties-row__info">
                    <h3 class="properties-row__title">La Baia Bay Harbor</h3>
                    <p class="properties-row__text">9201 E BAY HARBOR DRIVE</p>
                  </div>
                </article>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="new-dev__bottom">
      <h2 class="new-dev__heading">
        For more information call 305 339-4265 today. Uncover the best deals
        today!
      </h2>
    </div>
  </div>
</section>
