<section class="news-page">
  <div class="container">
    <div class="news-page__top">
      <h1 class="news-page__title">News</h1>
    </div>

    <ul class="news-page__list">
      <li class="news-page__item">
        <article class="post-card">
          <a class="post-card__top" href="">
            <img src="img/posts/1.jpg" alt="img" />
          </a>
          <div class="post-card__body">
            <div class="post-card__badge">Ипотека</div>
            <h3 class="post-card__title">
              <a href="#">
                Как получить 450 000 рублей на погашение ипотеки многодетным
                семьям
              </a>
            </h3>
            <div class="post-card__details">
              <span class="post-card__date">3 июн 2023</span>
              <span class="post-card__views">
                <svg>
                  <use xlink:href="img/sprite.svg#eye"></use>
                </svg>
                1М
              </span>
            </div>
          </div>
        </article>
      </li>
      <li class="news-page__item">
        <article class="post-card">
          <a class="post-card__top" href="">
            <img src="img/posts/1.jpg" alt="img" />
          </a>
          <div class="post-card__body">
            <div class="post-card__badge">Ипотека</div>
            <h3 class="post-card__title">
              <a href="#">
                Как получить 450 000 рублей на погашение ипотеки многодетным
                семьям
              </a>
            </h3>
            <div class="post-card__details">
              <span class="post-card__date">3 июн 2023</span>
              <span class="post-card__views">
                <svg>
                  <use xlink:href="img/sprite.svg#eye"></use>
                </svg>
                1М
              </span>
            </div>
          </div>
        </article>
      </li>
      <li class="news-page__item">
        <article class="post-card">
          <a class="post-card__top" href="">
            <img src="img/posts/1.jpg" alt="img" />
          </a>
          <div class="post-card__body">
            <div class="post-card__badge">Ипотека</div>
            <h3 class="post-card__title">
              <a href="#">
                Как получить 450 000 рублей на погашение ипотеки многодетным
                семьям
              </a>
            </h3>
            <div class="post-card__details">
              <span class="post-card__date">3 июн 2023</span>
              <span class="post-card__views">
                <svg>
                  <use xlink:href="img/sprite.svg#eye"></use>
                </svg>
                1М
              </span>
            </div>
          </div>
        </article>
      </li>
      <li class="news-page__item">
        <article class="post-card">
          <a class="post-card__top" href="">
            <img src="img/posts/1.jpg" alt="img" />
          </a>
          <div class="post-card__body">
            <div class="post-card__badge">Ипотека</div>
            <h3 class="post-card__title">
              <a href="#">
                Как получить 450 000 рублей на погашение ипотеки многодетным
                семьям
              </a>
            </h3>
            <div class="post-card__details">
              <span class="post-card__date">3 июн 2023</span>
              <span class="post-card__views">
                <svg>
                  <use xlink:href="img/sprite.svg#eye"></use>
                </svg>
                1М
              </span>
            </div>
          </div>
        </article>
      </li>
      <li class="news-page__item">
        <article class="post-card">
          <a class="post-card__top" href="">
            <img src="img/posts/1.jpg" alt="img" />
          </a>
          <div class="post-card__body">
            <div class="post-card__badge">Ипотека</div>
            <h3 class="post-card__title">
              <a href="#">
                Как получить 450 000 рублей на погашение ипотеки многодетным
                семьям
              </a>
            </h3>
            <div class="post-card__details">
              <span class="post-card__date">3 июн 2023</span>
              <span class="post-card__views">
                <svg>
                  <use xlink:href="img/sprite.svg#eye"></use>
                </svg>
                1М
              </span>
            </div>
          </div>
        </article>
      </li>
      <li class="news-page__item">
        <article class="post-card">
          <a class="post-card__top" href="">
            <img src="img/posts/1.jpg" alt="img" />
          </a>
          <div class="post-card__body">
            <div class="post-card__badge">Ипотека</div>
            <h3 class="post-card__title">
              <a href="#">
                Как получить 450 000 рублей на погашение ипотеки многодетным
                семьям
              </a>
            </h3>
            <div class="post-card__details">
              <span class="post-card__date">3 июн 2023</span>
              <span class="post-card__views">
                <svg>
                  <use xlink:href="img/sprite.svg#eye"></use>
                </svg>
                1М
              </span>
            </div>
          </div>
        </article>
      </li>
      <li class="news-page__item">
        <article class="post-card">
          <a class="post-card__top" href="">
            <img src="img/posts/1.jpg" alt="img" />
          </a>
          <div class="post-card__body">
            <div class="post-card__badge">Ипотека</div>
            <h3 class="post-card__title">
              <a href="#">
                Как получить 450 000 рублей на погашение ипотеки многодетным
                семьям
              </a>
            </h3>
            <div class="post-card__details">
              <span class="post-card__date">3 июн 2023</span>
              <span class="post-card__views">
                <svg>
                  <use xlink:href="img/sprite.svg#eye"></use>
                </svg>
                1М
              </span>
            </div>
          </div>
        </article>
      </li>
      <li class="news-page__item">
        <article class="post-card">
          <a class="post-card__top" href="">
            <img src="img/posts/1.jpg" alt="img" />
          </a>
          <div class="post-card__body">
            <div class="post-card__badge">Ипотека</div>
            <h3 class="post-card__title">
              <a href="#">
                Как получить 450 000 рублей на погашение ипотеки многодетным
                семьям
              </a>
            </h3>
            <div class="post-card__details">
              <span class="post-card__date">3 июн 2023</span>
              <span class="post-card__views">
                <svg>
                  <use xlink:href="img/sprite.svg#eye"></use>
                </svg>
                1М
              </span>
            </div>
          </div>
        </article>
      </li>
      <li class="news-page__item">
        <article class="post-card">
          <a class="post-card__top" href="">
            <img src="img/posts/1.jpg" alt="img" />
          </a>
          <div class="post-card__body">
            <div class="post-card__badge">Ипотека</div>
            <h3 class="post-card__title">
              <a href="#">
                Как получить 450 000 рублей на погашение ипотеки многодетным
                семьям
              </a>
            </h3>
            <div class="post-card__details">
              <span class="post-card__date">3 июн 2023</span>
              <span class="post-card__views">
                <svg>
                  <use xlink:href="img/sprite.svg#eye"></use>
                </svg>
                1М
              </span>
            </div>
          </div>
        </article>
      </li>
    </ul>

    <div class="pagination">
      <p class="pagination__text">Page 1 of 29</p>

      <ul class="pagination__list">
        <li class="pagination__item">
          <button class="pagination__btn" type="button">1</button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn" type="button">2</button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn" type="button">3</button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn" type="button">4</button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn" type="button">5</button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn" type="button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M8.25 4.5l7.5 7.5-7.5 7.5"
              />
            </svg>
          </button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn" type="button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5"
              />
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
