<div class="popup popup--info">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg width="15" height="15">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="popup__wrapper">
      <h3 class="popup__title">More Information</h3>
      <p class="popup__text">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </p>

      <form class="form-submit">
        <label class="form-submit__group">
          <input
            class="form-submit__input"
            type="text"
            placeholder="Name*"
            required
          />
        </label>
        <label class="form-submit__group">
          <input
            class="form-submit__input"
            type="email"
            placeholder="E-mail*"
            required
          />
        </label>
        <label class="form-submit__group">
          <input
            class="form-submit__input"
            type="number"
            placeholder="Phone*"
            required
          />
        </label>
        <label class="form-submit__group form-submit__group--big">
          <textarea class="form-submit__input" placeholder="Message">
I am interested in 495 Brickell
Ave #3204 Miami, FL 33131
            
          </textarea>
        </label>

        <p class="form-submit__text">* Required fields</p>

        <button class="form-submit__btn btn" type="button">
          REQUEST INFORMATION
        </button>
      </form>
    </div>
  </div>
</div>

<div class="popup popup--property">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg width="15" height="15">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="popup__wrapper">
      <div class="property">
        <div class="property__top">
          <div class="property__btns">
            <a class="property__btn" href="#">Photo</a>
            <a class="property__btn" href="#">Map View</a>
            <a class="property__btn" href="#">Virtual Tour</a>
          </div>
          <div class="property__slider swiper">
            <button class="swiper-button-prev" type="button" aria-label="prev">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                  d="M11.8284 12.0005L14.6569 14.8289L13.2426 16.2431L9 12.0005L13.2426 7.75781L14.6569 9.17203L11.8284 12.0005Z"
                ></path>
              </svg>
            </button>
            <button class="swiper-button-next" type="button" aria-label="next">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                  d="M12.1717 12.0005L9.34326 9.17203L10.7575 7.75781L15.0001 12.0005L10.7575 16.2431L9.34326 14.8289L12.1717 12.0005Z"
                ></path>
              </svg>
            </button>

            <div class="property__slides swiper-wrapper">
              <div class="property_img swiper-slide">
                <img src="img/aventura-homes/1.jpg" alt="img" />
              </div>
              <div class="property__img swiper-slide">
                <img src="img/aventura-homes/1.jpg" alt="img" />
              </div>
              <div class="property__img swiper-slide">
                <img src="img/aventura-homes/1.jpg" alt="img" />
              </div>
              <div class="home-card__img swiper-slide">
                <img src="img/aventura-homes/1.jpg" alt="img" />
              </div>
              <div class="property__img swiper-slide">
                <img src="img/aventura-homes/1.jpg" alt="img" />
              </div>
              <div class="property__img swiper-slide">
                <img src="img/aventura-homes/1.jpg" alt="img" />
              </div>
            </div>
          </div>
          <div class="property__numbers">
            <div class="property__item">
              <p class="property__number">$1,295,000</p>
              <p class="property__descr">
                Est. Payment <span class="text-blue">$4,488.86/mo</span>
              </p>
            </div>
            <div class="property__item">
              <p class="property__number">2</p>
              <p class="property__descr">BEDROOM(S)</p>
            </div>
            <div class="property__item">
              <p class="property__number">2</p>
              <p class="property__descr">BATHROOM(S)</p>
            </div>
            <div class="property__item">
              <p class="property__number">1,500</p>
              <p class="property__descr">SIZE SQFT</p>
            </div>
            <div class="property__item">
              <p class="property__number">$863</p>
              <p class="property__descr">$/SQFT</p>
            </div>
            <button class="property__fav-btn" type="button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
                />
              </svg>
              <span class="property__text">SAVE</span>
            </button>
            <button class="property__btn-info btn" type="button">
              REQUEST INFORMATION
            </button>
          </div>

          <div class="property__info">
            <p class="property__text">
              SPECTACULAR AND BEST FLOOR PLAN apartment with 2Beds2Baths split
              plan plus denfoyer at the unique ICON BRICKELL. With fantastic
              Pool Bay views. Modern kitchen with top of the line appliances.
              Blackout shades in Bedrooms. Washer dryer in unit. Building has
              great amenities: Large pool, Spa, Gym, Billiard, Movie rooms,
              Massage rooms, Virtual GOLF. Excellent restaurants alternatives
              Cipriani Cantina La Veinte. Walking distance to Brickell City
              Centre. Unit could be sold fully furnished. Furniture is from
              Artefacto and Habitus.
            </p>
            <button class="property__more-btn more-btn" type="button">
              More Information

              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M19.5 8.25l-7.5 7.5-7.5-7.5"
                />
              </svg>
            </button>
            <p class="property__text hidden">
              SPECTACULAR AND BEST FLOOR PLAN apartment with 2Beds2Baths split
              plan plus denfoyer at the unique ICON BRICKELL. With fantastic
              Pool Bay views. Modern kitchen with top of the line appliances.
              Blackout shades in Bedrooms. Washer dryer in unit. Building has
              great amenities: Large pool, Spa, Gym, Billiard, Movie rooms,
              Massage rooms, Virtual GOLF. Excellent restaurants alternatives
              Cipriani Cantina La Veinte. Walking distance to Brickell City
              Centre. Unit could be sold fully furnished. Furniture is from
              Artefacto and Habitus.
            </p>
          </div>

          <div class="property__details apartment-details">
            <h3 class="apartment-details__title">
              A11346494 Condo # for Sale in Aventura, Aventura
            </h3>
            <div class="apartment-details__wrapper">
              <ul class="apartment-details__list">
                <li class="apartment-item">
                  <img src="img/home.png" alt="img" />
                  <div class="apartment-item__info">
                    <b> Listed on:</b>
                    <p>Feb 22, 2023</p>
                  </div>
                </li>
                <li class="apartment-item">
                  <img src="img/house.png" alt="img" />
                  <div class="apartment-item__info">
                    <b>Year Built: </b>
                    <p>1991</p>
                  </div>
                </li>
                <li class="apartment-item">
                  <img src="img/calendar.png" alt="img" />
                  <div class="apartment-item__info">
                    <b> Tax Year: </b>
                    <p>2022</p>
                  </div>
                </li>
                <li class="apartment-item">
                  <img src="img/tax.png" alt="img" />
                  <div class="apartment-item__info">
                    <b> Taxes: </b>
                    <p>$12,692 per year</p>
                  </div>
                </li>
                <li class="apartment-item">
                  <img src="img/wall-clock.png" alt="img" />
                  <div class="apartment-item__info">
                    <b> Days on Market: </b>
                    <p>92</p>
                  </div>
                </li>
                <li class="apartment-item">
                  <img src="img/smart-lock.png" alt="img" />
                  <div class="apartment-item__info">
                    <b>Occupancy: </b>
                    <p>n/a</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="apartment-specs">
            <div class="apartment-specs__inner">
              <div class="apartment-specs__col">
                <div class="apartment-specs__top">
                  <img
                    class="apartment-specs__icon"
                    src="img/specs-icon/1.png"
                    alt="img"
                  />
                  <span>Parking:</span>
                </div>
                <div class="apartment-specs__row">
                  <div class="apartment-specs__left">Garage Spaces</div>
                  <div class="apartment-specs__right">2</div>
                </div>
                <div class="apartment-specs__row">
                  <div class="apartment-specs__left">Open Parking</div>
                  <div class="apartment-specs__right">Yes</div>
                </div>
                <div class="apartment-specs__row">
                  <div class="apartment-specs__left">Covered Spaces</div>
                  <div class="apartment-specs__right">2</div>
                </div>
                <div class="apartment-specs__row">
                  <div class="apartment-specs__left">Parking Features</div>
                  <div class="apartment-specs__right">
                    Driveway, Paver Block
                  </div>
                </div>
                <div class="apartment-specs__row">
                  <div class="apartment-specs__left">Attached Garage</div>
                  <div class="apartment-specs__right">Yes</div>
                </div>
                <div class="apartment-specs__row">
                  <div class="apartment-specs__left"></div>
                  <div class="apartment-specs__right"></div>
                </div>
              </div>
              <div class="apartment-specs__col">
                <div class="apartment-specs__top">
                  <img
                    class="apartment-specs__icon"
                    src="img/specs-icon/1.png"
                    alt="img"
                  />
                  <span>Interior:</span>
                </div>
                <div class="apartment-specs__row">
                  <div class="apartment-specs__left">Flooring</div>
                  <div class="apartment-specs__right">Wood</div>
                </div>
                <div class="apartment-specs__row">
                  <div class="apartment-specs__left">Appliances</div>
                  <div class="apartment-specs__right">
                    Dryer, Microwave, Washer
                  </div>
                </div>
                <div class="apartment-specs__row">
                  <div class="apartment-specs__left">Cooling</div>
                  <div class="apartment-specs__right">Electric</div>
                </div>
                <div class="apartment-specs__row">
                  <div class="apartment-specs__left">Heating</div>
                  <div class="apartment-specs__right">Electric</div>
                </div>
                <div class="apartment-specs__row">
                  <div class="apartment-specs__left">Furnished</div>
                  <div class="apartment-specs__right">Furniture For Sale</div>
                </div>
                <div class="apartment-specs__row">
                  <div class="apartment-specs__left">Interior Features</div>
                  <div class="apartment-specs__right">
                    Built-in Features, Closet Cabinetry, Cooking Island, Attic,
                    Den/Library/Office
                  </div>
                </div>
              </div>
            </div>
            <div class="apartment-specs__inner">
              <div class="apartment-specs__col">
                <div class="apartment-specs__top">
                  <img
                    class="apartment-specs__icon"
                    src="img/specs-icon/1.png"
                    alt="img"
                  />
                  <span>Community:</span>
                </div>
                <div class="apartment-specs__row">
                  <div class="apartment-specs__left">Garage Spaces</div>
                  <div class="apartment-specs__right">2</div>
                </div>
                <div class="apartment-specs__row">
                  <div class="apartment-specs__left">Open Parking</div>
                  <div class="apartment-specs__right">Yes</div>
                </div>
                <div class="apartment-specs__row">
                  <div class="apartment-specs__left">Covered Spaces</div>
                  <div class="apartment-specs__right">2</div>
                </div>
                <div class="apartment-specs__row">
                  <div class="apartment-specs__left">Parking Features</div>
                  <div class="apartment-specs__right">
                    Driveway, Paver Block
                  </div>
                </div>
                <div class="apartment-specs__row">
                  <div class="apartment-specs__left">Attached Garage</div>
                  <div class="apartment-specs__right">Yes</div>
                </div>
                <div class="apartment-specs__row">
                  <div class="apartment-specs__left"></div>
                  <div class="apartment-specs__right"></div>
                </div>
              </div>
              <div class="apartment-specs__col">
                <div class="apartment-specs__top">
                  <img
                    class="apartment-specs__icon"
                    src="img/specs-icon/1.png"
                    alt="img"
                  />
                  <span>LOT:</span>
                </div>
                <div class="apartment-specs__row">
                  <div class="apartment-specs__left">Flooring</div>
                  <div class="apartment-specs__right">Wood</div>
                </div>
                <div class="apartment-specs__row">
                  <div class="apartment-specs__left">Appliances</div>
                  <div class="apartment-specs__right">
                    Dryer, Microwave, Washer
                  </div>
                </div>
                <div class="apartment-specs__row">
                  <div class="apartment-specs__left">Cooling</div>
                  <div class="apartment-specs__right">Electric</div>
                </div>
                <div class="apartment-specs__row">
                  <div class="apartment-specs__left">Heating</div>
                  <div class="apartment-specs__right">Electric</div>
                </div>
                <div class="apartment-specs__row">
                  <div class="apartment-specs__left">Furnished</div>
                  <div class="apartment-specs__right">Furniture For Sale</div>
                </div>
                <div class="apartment-specs__row">
                  <div class="apartment-specs__left">Interior Features</div>
                  <div class="apartment-specs__right">
                    Built-in Features, Closet Cabinetry, Cooking Island, Attic,
                    Den/Library/Office
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="similar-properties">
        <div class="container">
          <h2 class="similar-properties__title">Similar Properties For Sale</h2>

          <div class="similar-properties__slider swiper">
            <button class="swiper-button-prev" type="button" aria-label="prev">
              <svg>
                <use xlink:href="img/sprite.svg#arrow-right"></use>
              </svg>
            </button>
            <button class="swiper-button-next" type="button" aria-label="next">
              <svg>
                <use xlink:href="img/sprite.svg#arrow-right"></use>
              </svg>
            </button>
            <ul class="similar-properties__slides swiper-wrapper">
              <li class="similar-properties__slide swiper-slide">
                <article class="properties-card">
                  <a class="properties-card__top" href="#">
                    <img src="img/properties/1.jpg" alt="img" />
                  </a>
                  <div class="properties-card__body">
                    <div class="properties-card__heading">
                      <h3 class="properties-card__title">
                        <a href="#">Armani Tower</a>
                      </h3>
                      <b class="properties-card__price">$ 5,480,000</b>
                    </div>
                    <div class="properties-card__details">
                      <div class="properties-card__detail">
                        <img
                          width="12"
                          height="12"
                          src="img/bed.png"
                          alt="bed"
                        />
                        5 Beds
                      </div>
                      <div class="properties-card__detail">
                        <img
                          width="12"
                          height="12"
                          src="img/bathroom.png"
                          alt="bed"
                        />
                        5.5 Baths
                      </div>
                      <div class="properties-card__detail">
                        <img
                          width="12"
                          height="12"
                          src="img/area.png"
                          alt="bed"
                        />
                        2,682 ft2 (249 m2)
                      </div>
                    </div>
                  </div>
                </article>
              </li>
              <li class="similar-properties__slide swiper-slide">
                <article class="properties-card">
                  <a class="properties-card__top" href="#">
                    <img src="img/properties/1.jpg" alt="img" />
                  </a>
                  <div class="properties-card__body">
                    <div class="properties-card__heading">
                      <h3 class="properties-card__title">
                        <a href="#">Armani Tower</a>
                      </h3>
                      <b class="properties-card__price">$ 5,480,000</b>
                    </div>
                    <div class="properties-card__details">
                      <div class="properties-card__detail">
                        <img
                          width="12"
                          height="12"
                          src="img/bed.png"
                          alt="bed"
                        />
                        5 Beds
                      </div>
                      <div class="properties-card__detail">
                        <img
                          width="12"
                          height="12"
                          src="img/bathroom.png"
                          alt="bed"
                        />
                        5.5 Baths
                      </div>
                      <div class="properties-card__detail">
                        <img
                          width="12"
                          height="12"
                          src="img/area.png"
                          alt="bed"
                        />
                        2,682 ft2 (249 m2)
                      </div>
                    </div>
                  </div>
                </article>
              </li>
              <li class="similar-properties__slide swiper-slide">
                <article class="properties-card">
                  <a class="properties-card__top" href="#">
                    <img src="img/properties/1.jpg" alt="img" />
                  </a>
                  <div class="properties-card__body">
                    <div class="properties-card__heading">
                      <h3 class="properties-card__title">
                        <a href="#">Armani Tower</a>
                      </h3>
                      <b class="properties-card__price">$ 5,480,000</b>
                    </div>
                    <div class="properties-card__details">
                      <div class="properties-card__detail">
                        <img
                          width="12"
                          height="12"
                          src="img/bed.png"
                          alt="bed"
                        />
                        5 Beds
                      </div>
                      <div class="properties-card__detail">
                        <img
                          width="12"
                          height="12"
                          src="img/bathroom.png"
                          alt="bed"
                        />
                        5.5 Baths
                      </div>
                      <div class="properties-card__detail">
                        <img
                          width="12"
                          height="12"
                          src="img/area.png"
                          alt="bed"
                        />
                        2,682 ft2 (249 m2)
                      </div>
                    </div>
                  </div>
                </article>
              </li>
              <li class="similar-properties__slide swiper-slide">
                <article class="properties-card">
                  <a class="properties-card__top" href="#">
                    <img src="img/properties/1.jpg" alt="img" />
                  </a>
                  <div class="properties-card__body">
                    <div class="properties-card__heading">
                      <h3 class="properties-card__title">
                        <a href="#">Armani Tower</a>
                      </h3>
                      <b class="properties-card__price">$ 5,480,000</b>
                    </div>
                    <div class="properties-card__details">
                      <div class="properties-card__detail">
                        <img
                          width="12"
                          height="12"
                          src="img/bed.png"
                          alt="bed"
                        />
                        5 Beds
                      </div>
                      <div class="properties-card__detail">
                        <img
                          width="12"
                          height="12"
                          src="img/bathroom.png"
                          alt="bed"
                        />
                        5.5 Baths
                      </div>
                      <div class="properties-card__detail">
                        <img
                          width="12"
                          height="12"
                          src="img/area.png"
                          alt="bed"
                        />
                        2,682 ft2 (249 m2)
                      </div>
                    </div>
                  </div>
                </article>
              </li>
              <li class="similar-properties__slide swiper-slide">
                <article class="properties-card">
                  <a class="properties-card__top" href="#">
                    <img src="img/properties/1.jpg" alt="img" />
                  </a>
                  <div class="properties-card__body">
                    <div class="properties-card__heading">
                      <h3 class="properties-card__title">
                        <a href="#">Armani Tower</a>
                      </h3>
                      <b class="properties-card__price">$ 5,480,000</b>
                    </div>
                    <div class="properties-card__details">
                      <div class="properties-card__detail">
                        <img
                          width="12"
                          height="12"
                          src="img/bed.png"
                          alt="bed"
                        />
                        5 Beds
                      </div>
                      <div class="properties-card__detail">
                        <img
                          width="12"
                          height="12"
                          src="img/bathroom.png"
                          alt="bed"
                        />
                        5.5 Baths
                      </div>
                      <div class="properties-card__detail">
                        <img
                          width="12"
                          height="12"
                          src="img/area.png"
                          alt="bed"
                        />
                        2,682 ft2 (249 m2)
                      </div>
                    </div>
                  </div>
                </article>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
