<section class="properties">
  <div class="container">
    <div class="properties__heading">Communities</div>
    <div class="properties__top">
      <h2 class="properties__title">Featured <span>Communities</span></h2>
    </div>
  </div>

  <div class="container container--mobile-none">
    <div class="properties__slider swiper">
      <button class="swiper-button-prev" type="button" aria-label="prev">
        <svg>
          <use xlink:href="img/sprite.svg#arrow-right"></use>
        </svg>
      </button>
      <button class="swiper-button-next" type="button" aria-label="next">
        <svg>
          <use xlink:href="img/sprite.svg#arrow-right"></use>
        </svg>
      </button>
      <ul class="properties__list swiper-wrapper">
        <li class="properties__item swiper-slide">
          <article class="properties-card">
            <a class="properties-card__top" href="#">
              <picture>
                <source srcset="img/properties/1.webp" type="image/webp" />
                <img src="img/properties/1.jpg" alt="img" />
              </picture>
            </a>
            <div class="properties-card__body">
              <div class="properties-card__heading">
                <h3 class="properties-card__title">
                  <a href="#">Armani Tower</a>
                </h3>
                <b class="properties-card__price">$ 5,480,000</b>
              </div>
              <div class="properties-card__details">
                <div class="properties-card__detail">
                  <img width="12" height="12" src="img/bed.png" alt="bed" />
                  5 Beds
                </div>
                <div class="properties-card__detail">
                  <img
                    width="12"
                    height="12"
                    src="img/bathroom.png"
                    alt="bed"
                  />
                  5.5 Baths
                </div>
                <div class="properties-card__detail">
                  <img width="12" height="12" src="img/area.png" alt="bed" />
                  2,682 ft2 (249 m2)
                </div>
              </div>
            </div>
          </article>
        </li>
        <li class="properties__item swiper-slide">
          <article class="properties-card">
            <a class="properties-card__top" href="#">
              <picture>
                <source srcset="img/properties/2.webp" type="image/webp" />
                <img src="img/properties/2.jpg" alt="img" />
              </picture>
            </a>
            <div class="properties-card__body">
              <div class="properties-card__heading">
                <h3 class="properties-card__title">
                  <a href="#">Acqualina</a>
                </h3>
                <b class="properties-card__price">$ 2,890,000</b>
              </div>
              <div class="properties-card__details">
                <div class="properties-card__detail">
                  <img width="12" height="12" src="img/bed.png" alt="bed" />
                  3 Beds
                </div>
                <div class="properties-card__detail">
                  <img
                    width="12"
                    height="12"
                    src="img/bathroom.png"
                    alt="bed"
                  />
                  3 Baths
                </div>
                <div class="properties-card__detail">
                  <img width="12" height="12" src="img/area.png" alt="bed" />
                  2,214 ft2 (206 m2)
                </div>
              </div>
            </div>
          </article>
        </li>
        <li class="properties__item swiper-slide">
          <article class="properties-card">
            <a class="properties-card__top" href="#">
              <picture>
                <source srcset="img/properties/3.webp" type="image/webp" />
                <img src="img/properties/3.jpg" alt="img" />
              </picture>
            </a>
            <div class="properties-card__body">
              <div class="properties-card__heading">
                <h3 class="properties-card__title">
                  <a href="#">Green Diamond</a>
                </h3>
                <b class="properties-card__price">$ 3,200,000</b>
              </div>
              <div class="properties-card__details">
                <div class="properties-card__detail">
                  <img width="12" height="12" src="img/bed.png" alt="bed" />
                  5 Beds
                </div>
                <div class="properties-card__detail">
                  <img
                    width="12"
                    height="12"
                    src="img/bathroom.png"
                    alt="bed"
                  />
                  5.5 Baths
                </div>
                <div class="properties-card__detail">
                  <img width="12" height="12" src="img/area.png" alt="bed" />
                  2,682 ft2 (249 m2)
                </div>
              </div>
            </div>
          </article>
        </li>
        <li class="properties__item swiper-slide">
          <article class="properties-card">
            <a class="properties-card__top" href="#">
              <picture>
                <source srcset="img/properties/4.webp" type="image/webp" />
                <img src="img/properties/4.jpg" alt="img" />
              </picture>
            </a>
            <div class="properties-card__body">
              <div class="properties-card__heading">
                <h3 class="properties-card__title">
                  <a href="#">Armani Tower</a>
                </h3>
                <b class="properties-card__price">$ 5,480,000</b>
              </div>
              <div class="properties-card__details">
                <div class="properties-card__detail">
                  <img width="12" height="12" src="img/bed.png" alt="bed" />
                  5 Beds
                </div>
                <div class="properties-card__detail">
                  <img
                    width="12"
                    height="12"
                    src="img/bathroom.png"
                    alt="bed"
                  />
                  5.5 Baths
                </div>
                <div class="properties-card__detail">
                  <img width="12" height="12" src="img/area.png" alt="bed" />
                  2,682 ft2 (249 m2)
                </div>
              </div>
            </div>
          </article>
        </li>
        <li class="properties__item swiper-slide">
          <article class="properties-card">
            <a class="properties-card__top" href="#">
              <picture>
                <source srcset="img/properties/5.webp" type="image/webp" />
                <img src="img/properties/5.jpg" alt="img" />
              </picture>
            </a>
            <div class="properties-card__body">
              <div class="properties-card__heading">
                <h3 class="properties-card__title">
                  <a href="#">Armani Tower</a>
                </h3>
                <b class="properties-card__price">$ 5,480,000</b>
              </div>
              <div class="properties-card__details">
                <div class="properties-card__detail">
                  <img width="12" height="12" src="img/bed.png" alt="bed" />
                  5 Beds
                </div>
                <div class="properties-card__detail">
                  <img
                    width="12"
                    height="12"
                    src="img/bathroom.png"
                    alt="bed"
                  />
                  5.5 Baths
                </div>
                <div class="properties-card__detail">
                  <img width="12" height="12" src="img/area.png" alt="bed" />
                  2,682 ft2 (249 m2)
                </div>
              </div>
            </div>
          </article>
        </li>
        <li class="properties__item swiper-slide">
          <article class="properties-card">
            <a class="properties-card__top" href="#">
              <picture>
                <source srcset="img/properties/6.webp" type="image/webp" />
                <img src="img/properties/6.jpg" alt="img" />
              </picture>
            </a>
            <div class="properties-card__body">
              <div class="properties-card__heading">
                <h3 class="properties-card__title">
                  <a href="#">Armani Tower</a>
                </h3>
                <b class="properties-card__price">$ 5,480,000</b>
              </div>
              <div class="properties-card__details">
                <div class="properties-card__detail">
                  <img width="12" height="12" src="img/bed.png" alt="bed" />
                  5 Beds
                </div>
                <div class="properties-card__detail">
                  <img
                    width="12"
                    height="12"
                    src="img/bathroom.png"
                    alt="bed"
                  />
                  5.5 Baths
                </div>
                <div class="properties-card__detail">
                  <img width="12" height="12" src="img/area.png" alt="bed" />
                  2,682 ft2 (249 m2)
                </div>
              </div>
            </div>
          </article>
        </li>
        <li class="properties__item swiper-slide">
          <article class="properties-card">
            <a class="properties-card__top" href="#">
              <picture>
                <source srcset="img/properties/7.webp" type="image/webp" />
                <img src="img/properties/7.jpg" alt="img" />
              </picture>
            </a>
            <div class="properties-card__body">
              <div class="properties-card__heading">
                <h3 class="properties-card__title">
                  <a href="#">Armani Tower</a>
                </h3>
                <b class="properties-card__price">$ 5,480,000</b>
              </div>
              <div class="properties-card__details">
                <div class="properties-card__detail">
                  <img width="12" height="12" src="img/bed.png" alt="bed" />
                  5 Beds
                </div>
                <div class="properties-card__detail">
                  <img
                    width="12"
                    height="12"
                    src="img/bathroom.png"
                    alt="bed"
                  />
                  5.5 Baths
                </div>
                <div class="properties-card__detail">
                  <img width="12" height="12" src="img/area.png" alt="bed" />
                  2,682 ft2 (249 m2)
                </div>
              </div>
            </div>
          </article>
        </li>
        <li class="properties__item swiper-slide">
          <article class="properties-card">
            <a class="properties-card__top" href="#">
              <picture>
                <source srcset="img/properties/8.webp" type="image/webp" />
                <img src="img/properties/8.jpg" alt="img" />
              </picture>
            </a>
            <div class="properties-card__body">
              <div class="properties-card__heading">
                <h3 class="properties-card__title">
                  <a href="#">Armani Tower</a>
                </h3>
                <b class="properties-card__price">$ 5,480,000</b>
              </div>
              <div class="properties-card__details">
                <div class="properties-card__detail">
                  <img width="12" height="12" src="img/bed.png" alt="bed" />
                  5 Beds
                </div>
                <div class="properties-card__detail">
                  <img
                    width="12"
                    height="12"
                    src="img/bathroom.png"
                    alt="bed"
                  />
                  5.5 Baths
                </div>
                <div class="properties-card__detail">
                  <img width="12" height="12" src="img/area.png" alt="bed" />
                  2,682 ft2 (249 m2)
                </div>
              </div>
            </div>
          </article>
        </li>
        <li class="properties__item swiper-slide">
          <article class="properties-card">
            <a class="properties-card__top" href="#">
              <picture>
                <source srcset="img/properties/9.webp" type="image/webp" />
                <img src="img/properties/9.jpg" alt="img" />
              </picture>
            </a>
            <div class="properties-card__body">
              <div class="properties-card__heading">
                <h3 class="properties-card__title">
                  <a href="#">Armani Tower</a>
                </h3>
                <b class="properties-card__price">$ 5,480,000</b>
              </div>
              <div class="properties-card__details">
                <div class="properties-card__detail">
                  <img width="12" height="12" src="img/bed.png" alt="bed" />
                  5 Beds
                </div>
                <div class="properties-card__detail">
                  <img
                    width="12"
                    height="12"
                    src="img/bathroom.png"
                    alt="bed"
                  />
                  5.5 Baths
                </div>
                <div class="properties-card__detail">
                  <img width="12" height="12" src="img/area.png" alt="bed" />
                  2,682 ft2 (249 m2)
                </div>
              </div>
            </div>
          </article>
        </li>
      </ul>
    </div>

    <a class="properties__btn btn btn--arrow" href="#">
      to all properties
      <svg>
        <use xlink:href="img/sprite.svg#arrow-right"></use>
      </svg>
    </a>
  </div>
</section>
