<section class="residence">
  <div class="residence__wrapper">
    <div class="residence__left">
      <div class="residence__left-inner">
        <h2 class="residence__title">Residence by Investment Overview</h2>
        <p class="residence__text">
          The US EB-5 Immigrant Investor Program sets aside EB-5 visas for
          participants who invest in commercial enterprises associated with
          government-approved regional centers based on proposals for promoting
          economic growth.
        </p>
        <button class="residence__btn btn" type="button">
          Request Information
        </button>
      </div>
    </div>
    <div class="residence__right">
      <ul class="residence__list">
        <li class="residence-item">
          <img
            class="residence-item__img"
            src="img/residence-item/1.png"
            width="60"
            height="60"
            alt="img"
          />
          <div class="residence-item__info">
            <p class="residence-item__title">Investment</p>
            <p class="residence-item__text">USD 800,000</p>
          </div>
        </li>
        <li class="residence-item">
          <img
            class="residence-item__img"
            src="img/residence-item/2.png"
            width="60"
            height="60"
            alt="img"
          />
          <div class="residence-item__info">
            <p class="residence-item__title">Processing time</p>
            <p class="residence-item__text">30–36 months</p>
          </div>
        </li>
        <li class="residence-item">
          <img
            class="residence-item__img"
            src="img/residence-item/3.png"
            width="60"
            height="60"
            alt="img"
          />
          <div class="residence-item__info">
            <p class="residence-item__title">Key benefit</p>
            <p class="residence-item__text">
              Citizenship eligibility after five years of legal residence
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
