<section class="signup" style="background-image: url('img/signup-bg.jpg')">
  <div class="container">
    <div class="signup__wrapper">
      <div class="signup__left">
        <h3 class="signup__title section-title">
          Sing up <span>for updates</span>
        </h3>
        <p class="signup__text">
          Subscribe to receive the latest real estate market updates, exclusive
          new lstings, architecture and design inspiration and more.
        </p>
      </div>
      <form class="signup__form form-signup">
        <label class="form-signup__group">
          <svg>
            <use xlink:href="img/sprite.svg#email"></use>
          </svg>
          <input
            class="form-signup__input"
            type="text"
            placeholder="Enter your phone"
          />
        </label>
        <button class="form-signup__btn btn btn--arrow" type="button">
          Send
          <svg>
            <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
</section>
