<section class="similar-properties">
  <div class="container">
    <h2 class="similar-properties__title">Similar Properties For Sale</h2>

    <div class="similar-properties__slider swiper">
      <button class="swiper-button-prev" type="button" aria-label="prev">
        <svg>
          <use xlink:href="img/sprite.svg#arrow-right"></use>
        </svg>
      </button>
      <button class="swiper-button-next" type="button" aria-label="next">
        <svg>
          <use xlink:href="img/sprite.svg#arrow-right"></use>
        </svg>
      </button>
      <ul class="similar-properties__slides swiper-wrapper">
        <li class="similar-properties__slide swiper-slide">
          <article class="properties-card">
            <a class="properties-card__top" href="#">
              <img src="img/properties/1.jpg" alt="img" />
            </a>
            <div class="properties-card__body">
              <div class="properties-card__heading">
                <h3 class="properties-card__title">
                  <a href="#">Armani Tower</a>
                </h3>
                <b class="properties-card__price">$ 5,480,000</b>
              </div>
              <div class="properties-card__details">
                <div class="properties-card__detail">
                  <img width="12" height="12" src="img/bed.png" alt="bed" />
                  5 Beds
                </div>
                <div class="properties-card__detail">
                  <img
                    width="12"
                    height="12"
                    src="img/bathroom.png"
                    alt="bed"
                  />
                  5.5 Baths
                </div>
                <div class="properties-card__detail">
                  <img width="12" height="12" src="img/area.png" alt="bed" />
                  2,682 ft2 (249 m2)
                </div>
              </div>
            </div>
          </article>
        </li>
        <li class="similar-properties__slide swiper-slide">
          <article class="properties-card">
            <a class="properties-card__top" href="#">
              <img src="img/properties/1.jpg" alt="img" />
            </a>
            <div class="properties-card__body">
              <div class="properties-card__heading">
                <h3 class="properties-card__title">
                  <a href="#">Armani Tower</a>
                </h3>
                <b class="properties-card__price">$ 5,480,000</b>
              </div>
              <div class="properties-card__details">
                <div class="properties-card__detail">
                  <img width="12" height="12" src="img/bed.png" alt="bed" />
                  5 Beds
                </div>
                <div class="properties-card__detail">
                  <img
                    width="12"
                    height="12"
                    src="img/bathroom.png"
                    alt="bed"
                  />
                  5.5 Baths
                </div>
                <div class="properties-card__detail">
                  <img width="12" height="12" src="img/area.png" alt="bed" />
                  2,682 ft2 (249 m2)
                </div>
              </div>
            </div>
          </article>
        </li>
        <li class="similar-properties__slide swiper-slide">
          <article class="properties-card">
            <a class="properties-card__top" href="#">
              <img src="img/properties/1.jpg" alt="img" />
            </a>
            <div class="properties-card__body">
              <div class="properties-card__heading">
                <h3 class="properties-card__title">
                  <a href="#">Armani Tower</a>
                </h3>
                <b class="properties-card__price">$ 5,480,000</b>
              </div>
              <div class="properties-card__details">
                <div class="properties-card__detail">
                  <img width="12" height="12" src="img/bed.png" alt="bed" />
                  5 Beds
                </div>
                <div class="properties-card__detail">
                  <img
                    width="12"
                    height="12"
                    src="img/bathroom.png"
                    alt="bed"
                  />
                  5.5 Baths
                </div>
                <div class="properties-card__detail">
                  <img width="12" height="12" src="img/area.png" alt="bed" />
                  2,682 ft2 (249 m2)
                </div>
              </div>
            </div>
          </article>
        </li>
        <li class="similar-properties__slide swiper-slide">
          <article class="properties-card">
            <a class="properties-card__top" href="#">
              <img src="img/properties/1.jpg" alt="img" />
            </a>
            <div class="properties-card__body">
              <div class="properties-card__heading">
                <h3 class="properties-card__title">
                  <a href="#">Armani Tower</a>
                </h3>
                <b class="properties-card__price">$ 5,480,000</b>
              </div>
              <div class="properties-card__details">
                <div class="properties-card__detail">
                  <img width="12" height="12" src="img/bed.png" alt="bed" />
                  5 Beds
                </div>
                <div class="properties-card__detail">
                  <img
                    width="12"
                    height="12"
                    src="img/bathroom.png"
                    alt="bed"
                  />
                  5.5 Baths
                </div>
                <div class="properties-card__detail">
                  <img width="12" height="12" src="img/area.png" alt="bed" />
                  2,682 ft2 (249 m2)
                </div>
              </div>
            </div>
          </article>
        </li>
        <li class="similar-properties__slide swiper-slide">
          <article class="properties-card">
            <a class="properties-card__top" href="#">
              <img src="img/properties/1.jpg" alt="img" />
            </a>
            <div class="properties-card__body">
              <div class="properties-card__heading">
                <h3 class="properties-card__title">
                  <a href="#">Armani Tower</a>
                </h3>
                <b class="properties-card__price">$ 5,480,000</b>
              </div>
              <div class="properties-card__details">
                <div class="properties-card__detail">
                  <img width="12" height="12" src="img/bed.png" alt="bed" />
                  5 Beds
                </div>
                <div class="properties-card__detail">
                  <img
                    width="12"
                    height="12"
                    src="img/bathroom.png"
                    alt="bed"
                  />
                  5.5 Baths
                </div>
                <div class="properties-card__detail">
                  <img width="12" height="12" src="img/area.png" alt="bed" />
                  2,682 ft2 (249 m2)
                </div>
              </div>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>
